---
---
@charset "utf-8";

// Our variables
$base-font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: 30px;

$text-color: #111;
$background-color: #fdfdfd;
$brand-color: #2a7ae2;
$link-color: #165F58;

$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

$title-color: #41816D;

// Colors
$invert-text-color: #FFF;
$tangaroa-color: #1C2F3A;

// Misc sizes
$header-size: 60px;

// Width of the content area
$content-width: 800px;
$on-palm: 600px;
$on-laptop: 800px;


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

%inverted {
  color: $invert-text-color;
  background-color: $tangaroa-color;

  a {
    color: $invert-text-color;
    text-decoration: none;

    &:hover {
      color: $invert-text-color;
      text-decoration: underline;
    }
  }
}

$gutter: 16px;
$flexbox: true;

@import "lost";
@import "bourbon/bourbon";
@import "normalize";
@import "base";

@import "layout";

@import "lang-switch";

@import "site/header";
@import "site/cover";
@import "site/footer";

.oh {
  @include flex-container;

  div {
    @include waffle('1/3', $cycle: 3, $gut: 16px);
  }
}
