$creature-bg: #162b38;
$pollen-blue: #73bbba;

.creatures {

  @include reverse-links;

  padding-top: 20px;
  padding-bottom: 20px;

  color: $white;
  background-color: $pollen-blue;


  figure {
    margin: 0 0 20px;

    img {
      border-radius: 50%;
    }
  }

  .cta {
    @include call-to-action(clear, hollow);
  }
}


.poppy {
  color: $pollen-blue;
}
