---
layout: cover
lang: en
permalink: /en/technologies/
role: "technologies"
title: "Technologies"
description: "The Poppy project develops open-source tools for rapid prototyping and flexible experimentation of robots. It addresses mechanics, electronics, and software"
cover_image: "/assets/img/covers/poppy_humanoid_ergo_playground.jpg"
cover_gradient: true
cover_title: "Open source technologies for building amazing robots"
published: true
in_nav: true
---

<div class="row">
  <div class="large-9 columns large-centered">
    <h2 class="tc">Modular technologies</h2>
    <p class="lead tc">
      The Poppy project develops open-source tools for rapid prototyping and flexible experimentation of robots. It addresses mechanics, electronics, and software.
    </p>
  </div>
</div>

{% include separator.html %}

<div class="row">
  <div class="large-9 columns large-centered">
    <h3 class="tc">Hardware</h3>
    <p class="tc">
      Our main concern is to provide robotic technologies that are cheap and modular.<br>
      We want robotics to become <em>click-and-play</em>, changing robots' morphologies as projects evolve. As much as possible, we aim at using off-the-shelf and popular technologies.
    </p>
    <p class="tc">
      All Poppy project hardware is open source and distributed under Creative Commons BY-SA license.
    </p>
  </div>
</div>

<div class="row">
  <div class="medium-6 large-6 columns">
    <h4>3D printed parts</h4>
    <p>
      Poppy robots are 3D printed – it is a reproducible and cheap production technique that allows anyone to produce locally its own and customized parts.
    </p>
    <p>
      It also allows for a wider range of possible design by removing manufacturing constraints from mass production methods.
    </p>
  </div>
  <div class="medium-6 large-6 columns">
    <div class="hl-image">
      <img src="{{ site.baseurl }}/assets/img/3d-parts.jpg" alt="Pièces d' Ergo Jr imprimées en 3d">
    </div>
  </div>
</div>

<div class="row">
  <div class="medium-6 medium-push-6 large-6 large-push-6 columns">
    <h4>Modular actuation</h4>
    <p>
      Poppy robots are based on modular smart-actuators branded Robotis Dynamixel. Within a small form factor, these motors embed high-precision monitoring and control and are synchronized on a shared communication and power line.
    </p>
    <p>
      They are commonly used in robotics and come in multiple actuation power. Them being quite expensive motors, we are constantly looking for alternatives and contributions are very much welcomed.
    </p>
  </div>
  <div class="medium-6 medium-pull-6 large-6 large-pull-6 columns">
    <div class="hl-image rtl">
      <img src="{{ site.baseurl }}/assets/img/robotis-actuators.jpg" alt="Robotis actuators">
    </div>
  </div>
</div>

{% include separator.html %}

<div class="row">
  <div class="large-9 columns large-centered">
    <h3 class="tc">Software overview</h3>
    <p class="tc">
      Easy-to-use, cross-platform, and modular, our python tools are thought for quick control of complex robots. Our software seemlessly integrate with simulated and real version of our robots.
    </p>
    <p class="tc">
      All our software packages are open source and distributed under GPLv3 license.
    </p>
  </div>
</div>

<div class="row">
  <div class="large-6 columns">
    <h4><em>Pypot</em> library</h4>
    <p>
      A python library to control Poppy robots and provides:
    </p>
    <ul>
      <li>Low-level access to motors and sensors - yet easily extendable to new types of devices.</li>
      <li>Creation of complex behaviors by combination of independent primitives.</li>
    </ul>
  </div>
  <div class="large-6 columns">
    <h4>Robot specific repositories</h4>
    <p>
      Each robot has a specific software repository with basic configuration files and high-level behaviors. Anyone can contribute or create its own robot using our templated repositories.
    </p>
  </div>
</div>

<div class="row">
  <div class="large-6 columns">
    <h4>Robot simulator</h4>
    <p>
      Poppy robots are integrated in the v-rep simulator with a transparent switch from simulated to physical robots through pypot.
    </p>
  </div>
  <div class="large-6 columns">
    <h4>Web control interface</h4>
    <p>
      We provide a web control interface to remotely launch behaviors on Poppy robots without needing to install anything on your computer.
    </p>
  </div>
</div>
