.latest-tweets {
  margin: 1.25rem 0;
  background-image: linear-gradient(to right, rgba($black, .35) 0%, rgba($black, .35) 100%), url('#{$baseurl}/assets/img/poppy-and-human.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
