<footer class="site-footer">
  <div class="wrap">
    <div class="row">
      <ul class="social-medias large-3 small-6 columns">
        <li class="social-media">
          {% include social-icon.html
            service="github"
            service_title="GitHub"
            link="https://github.com/poppy-project" %}
        </li>
        <li class="social-media">
          {% include social-icon.html
            service="twitter"
            service_title="Twitter"
            link="https://twitter.com/poppy_project" %}
        </li>
        <li class="social-media">
          {% include social-icon.html
            service="facebook"
            service_title="Facebook"
            link="https://facebook.com/poppycommunity" %}
        </li>
        <li class="social-media">
          {% include social-icon.html
            service="flickr"
            service_title="Flickr"
            link="https://www.flickr.com/photos/poppy-project" %}
        </li>
        <li class="social-media">
          {% include social-icon.html
            service="youtube"
            service_title="YouTube"
            link="https://www.youtube.com/c/PoppyProjectOrgVideos" %}
        </li>
      </ul>
      <div class="large-6 columns edit large-text-right">
        <ul class="menu vertical">
          <li>{% include edit-page-link.html %}</li>
          <li><a href="{{ site.baseurl }}/{{ page.lang }}/contact">{{ site.data.i18n.contact_us[page.lang] }}</a></li>
        </ul>
      </div>
    </div>

  </div>

  <div class="row expanded columns copyright text-center">
    <span>Copyright &copy; 2016 Inria</span>
    <a href="{{ site.baseurl }}/{{ page.lang }}/legal-notice">{{ site.data.i18n.legal[page.lang] }}</a>
  </div>

</footer>
