<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title and page.title != "" %}{{ site.title | append: " - " | append: page.title | escape }}{% else %}{{ site.default_title[page.lang] | escape }}{% endif %}</title>

  <meta name="description" content="{% if page.description and page.description != "" %}{{ page.description | truncate: 160 }}{% else %}{{ site.description[page.lang] }}{% endif %}">

  {% if hide_from_robots == true %}
  <meta name="robots" content="noindex, nofollow">
  {% endif %}

  {% include favicon.html %}

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/tomorrow-night.css" | prepend: site.baseurl }}">

  <link href="{{ site.baseurlurl }}/feed.{{ page.lang }}.xml" rel="alternate" title="{{ site.data.i18n.rss_title[page.lang] }}" type="application/atom+xml">
</head>
