<header class="site-header{% if page.invert_header %} inverted{% endif %}">
  <span class="site-title">
    <a href="{{ site.url }}/">
      <img src="{{ site.url }}/assets/logo-poppy.png" alt="{{ site.title }}">
    </a>
  </span>

  <nav class="site-pages">
    {% for outlink in site.outlinks[page.lang] %}
    <a href="{{ outlink.url }}">{{ outlink.title }}</a>
    {% endfor %}

    {% for site_page in site.pages %}
      {% if site_page.lang == page.lang and site_page.in_nav %}
    <a href="{{ site.url }}{{ site_page.url }}"{% if site_page.date.nil? and page.role == site_page.role %} class="active"{% endif %}>{{ site_page.title }}</a>
      {% endif %}
    {% endfor %}
  </nav>
</header>
