<div class="top-bar">
  <div class="top-bar-title">
    <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <span class="menu-icon dark" data-toggle></span>
    </span>
    <a href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/assets/img/logo.png" width="100" height="38" data-interchange="[{{ site.baseurl }}/assets/img/logo-large.png, retina]" alt="{{ site.title }}">
    </a>
  </div>
  <div id="responsive-menu">
    <div class="top-bar-right">
      <ul class="menu vertical medium-horizontal">
        {% for outlink in site.outlinks[page.lang] %}
        <li><a href="{{ outlink.url }}">{{ outlink.title }}</a></li>
        {% endfor %}

        {% for site_page in site.pages %}
          {% if site_page.lang == page.lang and site_page.in_nav %}
        <li><a href="{{ site_page.url | prepend: site.baseurl }}"{% if site_page.date.nil? and page.role == site_page.role %} class="active"{% endif %}>{{ site_page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
