<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<div id="mc_embed_signup">
  <form action="//poppy-project.us13.list-manage.com/subscribe/post?u=17b6815514db7361fc260e0ce&amp;id=95e9e13ae2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <h2>{{ site.data.i18n.mailchimp.title[page.lang] }}</h2>
      <div class="indicates-required"><span class="asterisk">*</span> {{ site.data.i18n.mailchimp.required[page.lang] }}</div>
      <div class="mc-field-group">
        <label for="mce-EMAIL">{{ site.data.i18n.mailchimp.email_input_label[page.lang] }} <span class="asterisk">*</span></label>
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
      </div>
      <div class="mc-field-group">
        <label for="mce-FNAME">{{ site.data.i18n.mailchimp.name_input_label[page.lang] }}</label>
        <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
      </div>
      <div class="mc-field-group">
        <label for="mce-LNAME">{{ site.data.i18n.mailchimp.organisation_input_label[page.lang] }}</label>
        <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
      </div>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="{{ site.data.i18n.mailchimp.token[page.lang] }}" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="{{ site.data.i18n.mailchimp.subscribe[page.lang] }}" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
  </form>
</div>
