<div class="wrap">
  <div class="row sponsors">
    <div class="small-3 columns">
      <a href="#"><img src="{{ site.url }}/assets/img/sponsorship/erc.jpg" alt="European Search Council"></a>
    </div>
    <div class="small-3 columns">
      <a href="#"><img src="{{ site.url }}/assets/img/sponsorship/inria.jpg" alt="Inria"></a>
    </div>
    <div class="small-3 columns">
      <a href="#"><img src="{{ site.url }}/assets/img/sponsorship/region-aquitaine.jpg" alt="Région Aquitaine"></a>
    </div>
    <div class="small-3 columns">
      <a href="#"><img src="{{ site.url }}/assets/img/sponsorship/ue.jpg" alt="Europe"></a>
    </div>
  </div>
</div>
