<div class="wrap">
  <div class="row sponsors">
    <a class="small-3 columns" href="#"><img src="{{ site.url }}/assets/img/sponsorship/erc.jpg" alt="European Search Council"></a>
    <a class="small-3 columns" href="#"><img src="{{ site.url }}/assets/img/sponsorship/inria.jpg" alt="Inria"></a>
    <a class="small-3 columns" href="#"><img src="{{ site.url }}/assets/img/sponsorship/region-aquitaine.jpg" alt="Région Aquitaine"></a>
    <a class="small-3 columns" href="#"><img src="{{ site.url }}/assets/img/sponsorship/ue.jpg" alt="Union Européenne"></a>
  </div>
</div>
