<div class="sponsors container">
  <ul>
    <li><a href="#"><img src="{{ site.github.url }}/assets/sponsorship/erc.jpg" alt="European Search Council"></a></li>
    <li><a href="#"><img src="{{ site.github.url }}/assets/sponsorship/inria.jpg" alt="Inria"></a></li>
    <li><a href="#"><img src="{{ site.github.url }}/assets/sponsorship/region-aquitaine.jpg" alt="Région Aquitaine"></a></li>
    <li><a href="#"><img src="{{ site.github.url }}/assets/sponsorship/ue.jpg" alt="Europe"></a></li>
  </ul>
</div>
