*, *:before, *:after {
  box-sizing: border-box;
}



/**
* Basic styling
*/
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  @include font-feature-settings("kern" 1);
  font-kerning: normal;
}


div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6,
pre, form, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  direction: ltr;
}

/**
* Images
*/
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
* Figures
*/
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}


/**
* Headings
*/
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}



/**
* Links
*/
a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}
