@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

.clear {
  @include clearfix;
}

@mixin nopadding {
  & {
    padding: 0;
  }
}

.p0 {
  @include nopadding;
}

@mixin nomargin {
  & {
    margin: 0;
  }
}

.m0 {
  @include nomargin;
}

.p0m0 {
  @include nopadding;
  @include nomargin;
}

@mixin high-contrast-links {
  a {
    $high-contrast-color: scale-color($anchor-color, $lightness: -15%);
    $high-contrast-color-hover: scale-color($high-contrast-color, $lightness: -15%);

    color: $high-contrast-color;

    &:hover,
    &:focus {
      color: $high-contrast-color-hover;
    }
  }
}

@mixin reverse-links {
  a {
    color: $white;

    &:hover,
    &:focus {
      color: scale-color($white, $lightness: -15%);
    }
  }
}

.tc {
  @extend .text-center;
}



.wrap {
  max-width: map-get($breakpoints, xlarge);
  width: 100%;

  margin: 0 auto;
}


.top-bar-title [data-responsive-toggle] {
  margin-right: 1rem;
}

.top-bar-right {
  @include breakpoint(small only) {
    margin-top: 1rem;

    padding: 0 calc(20px + 1rem - 0.7rem);
  }
}

.site-footer {
  background-color: $medium-gray;

  .wrap {
    padding: 20px;
  }
}

.lang-link {
  margin-right: .5rem;
  display: inline-block;
}

.social-medias {
  margin: 0;

  list-style: none;

  .social-media {
    display: inline;

    a {
      display: inline-block;
    }

    .icon {
      height: 20px;
      width: 20px;

      display: inline-block;
      vertical-align: middle;

      fill: $black;
    }
  }
}

.video-showcase {
  background-color: $black;

  .description {
    color: $white;
    text-align: center;
    font-style: italic;
  }
}


/*
  Copyright
 */
.copyright, .edit {

  font-size: rem-calc(14px);
  font-weight: lighter;

  @include high-contrast-links;
}

.copyright {
  .menu-text {
    font-weight: normal;
  }

  .menu li {
    &,
    & > a {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.sponsors {
  padding-top: 2rem;
  padding-bottom: 2rem;

  text-align: center;

  img:before {
    display: block;
    content: "ee";
  }
}

@import "poppy/cover";
@import "poppy/lang-switcher";

.clish {
  @each $breakpoint, $value in $grid-column-gutter {
    @include breakpoint($breakpoint) {
      padding-top: rem-calc($value / 2);
      padding-bottom: rem-calc($value / 2);
    }
  }
}

.audiences {

  h3 {
    line-height: 1.1;
  }

  a {
    padding: 2rem;

    display: block;

    &:hover,
    &:focus {
      svg {
        fill: $anchor-color-hover;
      }
    }
  }

  figure {
    margin: 0 0 20px 0;

    .icon {
      height: 80px;
      width: 80px;
    }
  }
}

.creatures {

  padding-top: 20px;
  padding-bottom: 20px;

  color: $white;
  background-color: #162B38;

  @include reverse-links;

  figure {
    margin: 0 0 20px 0;

    img {
      border-radius: 50%;
    }
  }
}

.nodisp {
  display: none;
}
