@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin call-to-action($button-color: primary, $button-style: solid, $button-expand: true) {

  margin-top: 1rem;

  @if $button-style == solid {
    a {
      @include button($expand: $button-expand, $background: map-get($foundation-palette, $button-color), $background-hover: auto);
    }
  }
  @else if $button-style == hollow {
    a {
      @include button($expand: $button-expand, $background: map-get($foundation-palette, $button-color), $style: $button-style);
    }
  }
}

.clear {
  @include clearfix;
}

@mixin nopadding {
  & {
    padding: 0;
  }
}

.p0 {
  @include nopadding;
}

@mixin nomargin {
  & {
    margin: 0;
  }
}

.m0 {
  @include nomargin;
}

.rtl {
  direction: rtl;
}

.p0m0 {
  @include nopadding;
  @include nomargin;
}

@mixin high-contrast-links {
  a {
    $high-contrast-color: scale-color($anchor-color, $lightness: -15%);
    $high-contrast-color-hover: scale-color($high-contrast-color, $lightness: -15%);

    color: $high-contrast-color;

    &:hover,
    &:focus {
      color: $high-contrast-color-hover;
    }
  }
}

@mixin reverse-links {
  a {
    color: $white;

    &:hover,
    &:focus {
      color: scale-color($white, $lightness: -15%);
    }
  }
}

.tc {
  @extend .text-center;
}

.hc {
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    text-align: center;
  }
}

.h-m10 {
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    margin-bottom: 10px;
  }
}

.wrap {
  max-width: map-get($breakpoints, xlarge);
  width: 100%;

  margin: 0 auto;
}

.top-bar-title [data-responsive-toggle] {
  margin-right: 1rem;
}

.top-bar-right {
  @include breakpoint(small only) {
    margin-top: 1rem;

    padding: 0 calc(20px + 1rem - 0.7rem);
  }
}

.site-footer {
  background-color: $medium-gray;

  .wrap {
    padding: 20px;
  }
}

.lang-link {
  margin-right: .5rem;
  display: inline-block;
}

.social-medias {
  margin: 0;

  list-style: none;

  .social-media {
    display: inline;

    a {
      display: inline-block;
    }

    .icon {
      height: 20px;
      width: 20px;

      display: inline-block;
      vertical-align: middle;

      fill: $black;
    }
  }
}

.follow-incentive {
  padding-top: 2rem;
  padding-bottom: 2rem;

  @extend .text-center;
}

/*
  Video player
 */

.video-showcase {
  background-color: $black;

  .flex-video {
    margin-bottom: 0;
  }

  .description {
    color: $white;
    text-align: center;
    font-style: italic;

    .button {
      font-style: normal;
    }
  }
}

.flex-video {
  &.ratio-16-9 {
    padding-bottom: 56.18%;
  }
}


/*
  Copyright
 */
.copyright, .edit {

  font-size: rem-calc(14px);
  font-weight: lighter;

  @include high-contrast-links;
}

.copyright {
  background-color: $black;

  a {
    &:hover,
    &:focus {
      color: scale-color($white, $lightness: -15%);
    }
  }

  > * {
    color: $white;

    padding-right: .5em;
    display: inline-block;

    line-height: 1;

    & ~ * {
      padding-left: .5em;

      border-left: 1px solid currentColor;
    }
  }
}

.sponsors {
  padding-top: 2rem;
  padding-bottom: 2rem;

  text-align: center;
}

.clish {
  @each $breakpoint, $value in $grid-column-gutter {
    @include breakpoint($breakpoint) {
      padding-top: rem-calc($value / 2);
      padding-bottom: rem-calc($value / 2);
    }
  }
}

.nodisp {
  display: none;
}

[role=main] {
  width: 100%;
  overflow: hidden;
}

iframe {
  border: 0;
}

.hljs {
  margin: 0 0 1em;
  border: 0;
}

@import "poppy/page";

@import "poppy/cover";
@import "poppy/lang-switcher";
@import "poppy/latest-tweets";

@import "poppy/index/audiences";
@import "poppy/index/robots";
@import "poppy/index/latest-posts";
