---
layout: 9-columns-cover
lang: fr
title: "Pollen Services"
description: "Les offres de services de Pollen Robotics"
permalink: /fr/services/
role: services
in_nav: true
cover_title: "Pollen Services"
cover_image: "/assets/img/covers/parts.jpg"
cover_gradient: true
cover_size: small
published: true
order: 1
---

<div >
  <div class="row">
    <header class="main-header tc small-centered medium-12 columns">
      <h2 class="poppy">
          Une envie de robot ?
      </h2>
      <h2 class="poppy">
          <strong>Passer de l'idée à l'objet robotique</strong>
      </h2>
      <br />

      <img src="{{ site.baseurl }}/assets/img/covers/services-workflow.png" alt="Pollen services workflow">

      <!-- -> Visuel des étapes clées proposées par Pollen

      Imaginer - Concevoir (visuel méca)- Prototyper (modules elec.) - Connecter/Contrôler (logiciel) - Production petite série -->

      <p class="lead poppy">
          Pollen Robotics vous aide à passer rapidement et efficacement du projet robotique à la réalisation en vous conseillant et en s'impliquant dans toutes les étapes clées du développement.
      </p>
    </header>
  </div>
</div>

{% include separator.html %}


<div class="row">
    <div class="columns large-6 clish">
        <h3>Vos besoins</h3>
        <br />
        <ul>
            <li>Passer rapidement de l'idée à la réalisation robotique ?</li>
            <li>Réaliser un robot adapté à vos besoins ?</li>
            <li>Concevoir des animations artistiques et originales ?</li>
            <li>Comment connecter et robotiser vos objets du quotidien ?</li>
        </ul>
    </div>
    <div class="columns large-6 poppy">
        <h3>Nos solutions</h3>
        <br />
        <ul>
            <li><strong>Excellence technologique et multi-disciplinaire</strong></li>
            <li><strong>Prototypage rapide et itératif</strong></li>
            <li><strong>Conception et réalisation d'installations robotiques esthétiques, vivantes et intelligentes.</strong></li>
            <li><strong>Donner vie, robotiser et rendre interactif les objets qui nous entourent</strong></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="columns large-6 tc">
        <p class="lead">Prothèse de bras</p>
        <a href="http://forum.pollen-robotics.com"><img src="{{ site.baseurl }}/assets/img/arm-protestesis.jpg" alt="Robot arm protestesis" height="553" width="415"></a>
        <p class="clish">Laboratoire INCIA CNRS</p>
    </div>

    <div class="columns large-6 tc">
        <p class="lead">L'expérience Ergo Robot</p>
        <a href="https://flowers.inria.fr/robots/ergo-robots/"><img src="{{ site.baseurl }}/assets/img/expo-ergo-robot-fc.png" alt="Ergo Robot Experiment" height="553" width="415"></a>
        <p class="clish">Fondation Cartier pour l'Art Contemporain</p>
    </div>
</div>

{% include separator.html %}

<div class="row large-12 columns small-centered tc">
    <h2 class="poppy">
        Une équipe d'experts
    </h2>

    <h5 class="poppy">
        Pollen Robotics est spécialisée dans la conception et le développement rapide de solutions robotiques sur mesure. Notre démarche place l'utilisateur au coeur du process et ceux afin de garantir que notre travail corresponde réellement à vos besoins.
    </h5>

    <div class="row">
        <div class="columns large-9 small-centered">
            <img src="{{ site.baseurl }}/assets/img/team-venn.png" alt="Venn diagram of the team">
        </div>
    </div>

    <p class="clish">
        Notre équipe s'appuie sur des experts multi-disciplinaires. Elle regroupe <strong>des spécialistes de la mécanique, de l'électronique, de l'informatique, du design produit, de l'interaction et de l'intelligence artificielle</strong> travaillant ensemble depuis plusieurs années.
    </p>
    <br />

    <p class="clish">
        L'équipe a développé un workflow complet lui permettant de rapidement répondre à des besoins spécifiques et en s'appuyant sur des technologies éprouvées.
    </p>

    <div class="large-4 columns">
        <h4 class="poppy">Design mécanique</h4>
        <br />
        <ul>
            <li>Conception et modélisation 3D</li>
            <li>Expertise impression 3D</li>
        </ul>
    </div>

    <div class="large-4 columns">
        <h4 class="poppy">Électronique</h4>
        <ul>
            <li></li>
        </ul>
    </div>
    <div class="large-4 columns">
        <h4 class="poppy">Logiciel</h4>
        <ul>
            <li>Design d'interface homme-robot</li>
            <li>Framework de contrôle robotique (<a href="https://github.com/poppy-project/pypot">pypot</a>)</li>
            <li>Expertise Scratch : formation, intégration, connexion IoT</li>
        </ul>
    </div>
</div>

<!-- La révolution numérique transforme notre quotidien. Les objets connectés et robotiques y font leur apparition et sont amenés à se démocratiser. -->

<!-- Pollen Robotics vous accompagne dans ce voyage en proposant ses services allant de la phase de conception, à la réalisation et jusquà la production.  -->


<!-- Elle est l'équipe derrière la conception des robots Poppy, des robots humanoïdes à forte complexité technique et technologique.

Elle a réalisé et produit des robots éducatifs utilisés largement en collège et lycée.

Elle a participé à la conception et à la réalisation d'exposition artistique de renomée internationale telle que ... -->

<!-- ## Nos solutions

Maitrise de la chaine

allant d'outils de prototypage rapide interne (impression 3D, réliasation de carte électronique, suite logicielle dédiée)

Test - Production - Support ? -->

{% include separator.html %}

<div class="row">
  <div class="large-9 columns large-centered">
    <h2 class="tc">Contact</h2>
    <h5>Pour tout renseignement ou demande de rendez-vous :</h5>
    <form action="https://formspree.io/{{ site.data.social.email }}" method="post" class="columns">
      <input type="text" name="_gotcha" class="nodisp">
      <input type="text" name="_format" value="plain" class="nodisp">

      <input type="hidden" name="_subject" value="New message from Poppy contact form">
      <input type="hidden" name="_next" value="{{ site.baseurl }}/{{ page.lang }}/services/thank-you">

      <label>
        Nom
        <input type="text" name="name">
      </label>
      <label>
        Email
        <input type="email" name="email">
      </label>
      <label>
        Votre message
        <textarea name="message" rows="5"></textarea>
      </label>

      <button type="submit" class="button">Envoyer</button>
    </form>
  </div>
</div>
