---
lang: fr
layout: cover
permalink: /fr/robots/poppy-ergo-jr
role: poppy-ergo
title: "Ergo Jr"
description: "Ergo Jr est un bras articulé économique conçu pour l'éducation. C'est le petit frère des robots utilisés lors de l'expérience 'Mathematics: a beautiful elsewhere'"
cover_title: "Ergo Jr : un robot <em>low cost</em> pour l'éducation"
cover_image: "/assets/img/covers/ergo-solo.jpg"
cover_gradient: true
published: true
---

<div class="row">
  <div class="large-9 columns large-centered">
    <p class="lead tc">
      Ergo Jr est un bras articulé économique conçu pour l'éducation, facile à assembler et à modifier. Grâce à la programmation visuelle, il peut être employé dans les écoles pour la réalisation de projets de complexité diverse.
    </p>
  </div>
</div>

<div class="row">
  <div class="large-12 columns large-centered">
    <div class="flex-video">
      <iframe width="1200" height="675" src="https://www.youtube.com/embed/cXHeD8XeZTc" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-9 columns large-centered">
    <h2 class="tc">Fonctionnalités</h2>
    <p class="tc">
      Initialement conçu dans le cadre de l'expérience artistique <a href="https://flowers.inria.fr/robots/ergo-robots/">« Mathematics: a beautiful elsewhere »</a>, Ergo Jr a été adapté pour répondre aux besoins du domaine de l'éducation.
    </p>
    <p class="tc">
      C'est un bras robotisé, composé de 6 moteurs permettant des mouvements presque naturels, ainsi que d'éléments imprimés en 3D. L'utilisation de rivets rend les modifications simples à réaliser. 3 outils permettant différents intéractions avec l'environnement accompagnent Ergo Jr : un abat-jour, une pince, ainsi qu'un porte stylo.
    </p>
    <p class="tc">
      Le robot est contrôlé par une carte <a href="https://www.raspberrypi.org">Raspberry Pi</a>, et il est muni d'une caméra pour intéragir avec le monde.
    </p>
    <p class="tc">
      Tout dans le robot est laissé transparent et accessible pour promouvoir une approche éducative et une technologie interactive.
    </p>
  </div>
</div>

<div class="row">
  <div class="large-12 columns tc">
    <img src="https://media.githubusercontent.com/media/poppy-project/poppy-ergo-jr/master/doc/img/assembly/steps/ErgoJr_assembly.gif" alt="Assembly of an Ergo Jr" width="800" height="600">
  </div>
</div>

{% include separator.html %}

<div class="row">
  <div class="large-6 columns">
    <h2>Programmer Ergo Jr</h2>
    <p>
      Ergo Jr utilise <a href="http://snap.berkeley.edu">Snap!</a>, une variante du langage de programmation visuelle <a href="https://scratch.mit.edu">Scratch</a>. Sa simplicité d'usage et son efficacité reconnue en font un excellent outil pour découvrir la robotique et comprendre le monde numérique. Snap! est utilisable sur le robot sans installation supplémentaire.
    </p>
    <p>
      Un ensemble d'activités pédagogiques mises au point avec des enseignants du secondaire accompagne Ergo Jr, allant de la découverte du robot à une utilisation plus complexe. Ces activités sont disponibles gratuitement sur <a href="https://forum.poppy-project.org/tags/c/education/pedagogical-activities/ergo-jr">les forums du projet Poppy</a>.
    </p>
  </div>
  <div class="large-6 columns">
    <div class="hl-image">
      <img src="{{ site.baseurl }}/assets/img/snap/simple-example.jpg" alt="Example simple de condition if-then avec Snap!">
    </div>
  </div>
</div>

{% include separator.html %}

<div class="row">
  <h3 class="columns tc">Exemples de programmation</h3>
</div>

<div class="row">
  <div class="large-6 columns">
    <div class="flex-video">
      <iframe width="1200" height="675" src="https://www.youtube.com/embed/l36D_dBoZwE" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="large-6 columns">
    <div class="flex-video">
      <iframe width="1200" height="675" src="https://www.youtube.com/embed/usDAgvcEXJA" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12-columns">
    <hr>
  </div>
</div>

<div class="row">
  <div class="large-9 columns large-centered">
    <h2 class="tc">Obtenez votre robot Ergo Jr</h2>

    <p class="tc">
      Le kit Ergo Jr est distribué par Génération Robots.
    </p>

    <div class="tc order-cta">
      <a href="http://www.generationrobots.com/fr/328-robot-poppy-ergo-jr" class="large success button">Commandez votre Ergo Jr</a>
    </div>

    <p class="tc">
      Vous pouvez aussi utiliser les <a href="https://github.com/poppy-project/poppy-ergo-jr">fichiers source</a> pour le construire par vos propres moyens.
    </p>
  </div>
</div>
