.site-cover {
  $el_padding: 80px;

  @extend %inverted;

  padding: ($el_padding + 100px) 10px ($el_padding + 30px);
  margin-top: -$header-size;

  text-align: center;

  background-attachment: fixed;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;

  .page-title {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 40px;
    font-weight: 300;
  }
}
