.site-header {
  @extend %inverted;

  @include flex-container;

  line-height: $header-size;

  a {
    color: $invert-text-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .site-title {
    @include column('2/12');

    padding: 0 10px;

    img {
      max-height: ($header-size - 20px);
      display: inline-block;
    }
  }

  .site-pages {
    @include column('10/12');
    @include align(right);

    a {
      padding: 0 16px;
      font-size: 14px;

      text-transform: uppercase;
      font-weight: bold;
    }
  }
}
