.sponsors {
  @include padding(16px null 16px null);

  margin-bottom: 32px;

  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  ul {
    @include flex-container;
    @include column;
    @include align(middle);
    @include justify-content(space-between);
  }

  img {
    height: 70px;
    display: block;
  }
}
