---
lang: fr
layout: default
permalink: /fr/jobs
role: jobs
title: "Jobs"
description: "Amazing opportunities"
published: true
---


<div class="row large-9 columns small-centered tc">

  <h2 class="clish">
      Rejoignez l'aventure Pollen Robotics
  </h2>
  <p class="lead">
    Pollen Robotics est une jeune start-up experte en robotique personnelle et sociale. Elle a été fondée par les créateurs du <a href="https://www.poppy-project.org/">projet open source Poppy</a>.

    <br />
    Après 6 ans de R&D dans le laboratoire Inria Flowers, ses fondateurs ont développé un ensemble de technologies visant à démocratiser la construction et l'usage de robots. Ces technos mettent en jeu à la fois des systèmes mécaniques de motorisation, des systèmes électroniques de communication et des systèmes logiciels de contrôle.
    <br />

    <strong>Il est maintenant nécessaire de rendre ce travail accessible à tous !</strong>
</p>
<br />

<iframe width="800" height="464" src="https://www.youtube.com/embed/3Bl_4zNLPgo" frameborder="0" allowfullscreen></iframe>

</div>

{% include separator.html %}

<div class="row large-9 columns tc">

    <h2 class="clish">
        Missions proposées
    </h2>

    <p class="lead">
        Soutenue par Inria et la région Nouvelle Aquitaine, Pollen Robotics ouvre 2 postes d'ingénieur (CDD de 1an avec poursuite possible en CDI) dans l'objectif de faire sortir ces technologies du labo et de les transformer en produits industrialisés.
    </p>

    <h4 class="clish">
        <a href="https://pollen-robotics.workable.com/jobs/411449">Ingénieur en Electronique et Systèmes Embarqués</a>
    </h4>
    Pour ce poste, nous cherchons un profil capable de s'attaquer aux problématiques de 1) conception d'une architecture électronique robuste permettant la communication entre les éléments d'un robot (senseurs, actionneurs) et 2) d'industrialisation et la réduction des coûts de la fabrication en série de systèmes électroniques dans le cadre d'applications grand public.
    <br /><br />
    <button class="button" href="https://pollen-robotics.workable.com/jobs/411449">En savoir plus et postuler</button>

    <h4 class="clish">
        <a href="https://pollen-robotics.workable.com/jobs/410565">Ingénieur Etudes Industrialisation Actionneur Robotique</a>
    </h4>
    Le poste proposé ici vise les problématiques liés à l'industrialisation et la réduction des coûts de la fabrication de servo-moteurs intelligents optimisés pour les applications robotiques grand public.

    <br /><br />
    <button class="button" href="https://pollen-robotics.workable.com/jobs/410565">En savoir plus et postuler</button>


</div>

{% include separator.html %}

{% include sponsors.html %}
