---
lang: fr
layout: default
permalink: /jobs/
role: jobs
title: "Jobs"
description: "Amazing opportunities"
published: true
---


<div class="row large-9 columns small-centered tc">

  <h2 class="clish">
      Rejoignez l'aventure Pollen Robotics
  </h2>
  <p class="lead">
    Pollen Robotics est une jeune start-up experte en robotique personnelle et sociale. Elle a été fondée par les créateurs du <a href="https://www.poppy-project.org/">projet open source Poppy</a>.
    <br />
    <br />
    Après 6 ans de R&D dans le laboratoire <a href="https://flowers.inria.fr/">Inria Flowers</a>, ses fondateurs ont développé un ensemble de technologies visant à démocratiser la construction et l'usage de robots. Ces technos mettent en jeu à la fois des systèmes mécaniques de motorisation, des systèmes électroniques de communication et des systèmes logiciels de contrôle...
    <br />
    <br />
    <strong> ... et il est maintenant nécessaire de rendre ce travail accessible à tous !</strong>
</p>
<br />

<iframe width="800" height="464" src="https://www.youtube.com/embed/0TJ2cBHVRh0" frameborder="0" allowfullscreen></iframe>

</div>

{% include separator.html %}

<div class="row large-9 columns ">

    <h2 class="clish text-center">
        Missions proposées
    </h2>

    <p class="lead">
        Soutenue par <a href="https://www.inria.fr/centre/bordeaux">Inria</a> et la région <a href="https://www.nouvelle-aquitaine.fr/">Nouvelle Aquitaine</a>, Pollen Robotics ouvre 2 postes d'ingénieur dans l'objectif de faire sortir ces technologies du labo et de les transformer en produits industrialisés. Les contrats proposés sont des CDD de 1 an, que nous souhaitons prolonger en CDI.
    </p>

    <h3 class="clish">
        <a href="https://pollen-robotics.workable.com/jobs/411449">Ingénieur en Electronique et Systèmes Embarqués</a>
    </h3>
    <p>
        
        Conception d'une architecture électronique robuste permettant la communication entre différents éléments d'un robot (senseurs, actionneurs).<br />
        Industrialisation et réduction des coûts pour la fabrication en série de systèmes électroniques dans le cadre d'applications grand public.
    </p>

    <a class="button" href="https://pollen-robotics.workable.com/jobs/411449" target="_blank"> En savoir plus et postuler</a>

    <h3 class="clish">
        <a href="https://pollen-robotics.workable.com/jobs/410565">Ingénieur Etudes Industrialisation Actionneur Robotique</a>
    </h3>
    <p>
    Conception, réduction des coûts et industrialisation de servo-moteurs intelligents, optimisés pour les applications robotiques grand public.
    </p>

    <a class="button" href="https://pollen-robotics.workable.com/jobs/410565" target="_blank">En savoir plus et postuler</a>


</div>

{% include separator.html %}

{% include sponsors.html %}
