---
layout: cover
lang: en
permalink: /en/for-artists/
role: for-artists
title: "Poppy for artists"
description: "The Poppy platform provides modular building blocks that artists can use and hack, with the support of an interdisciplinary community sharing its knowledge"
cover_image: "/assets/img/covers/humanoid-on-stage.jpg"
cover_title: "Artistic Applications"
published: true
---

<div class="row">
  <div class="large-9 columns large-centered">
    <p class="lead tc">
      Robotic objects can be used as tools to formulate and explore questions in the artistic domain.
    </p>
    <p class="tc">
      The Poppy platform provides modular building blocks that artists can use and hack, with the support of an interdisciplinary community sharing technical and conceptual knowledge.
    </p>
  </div>
</div>

{% include separator.html %}

<div class="row">
  <div class="large-9 columns large-centered">
    <h2 class="tc">
      How can I use the Poppy platform?
    </h2>
  </div>
</div>

<div class="row">
  <div class="large-9 columns large-centered">
    <p class="lead tc">
      Poppy is an open-source modular platform based on simple and robust technology, which can be hacked by non-technicians, opening the way to new avenues for creation.
    </p>
    <p class="tc">
      The platform is based on <a href="{{ site.baseurl }}/{{ page.lang }}/technologies">technological bricks</a> allowing the creation of novel robotic shapes or behaviours. It also includes examples of full robots like the <a href="{{ site.baseurl }}/{{ page.lang }}/robots/poppy-humanoid">Poppy Humanoid</a>, or the <a href="{{ site.baseurl }}/{{ page.lang }}/robots/poppy-ergo-jr">Ergo Jr</a>, which can directly be reused or modified for artistic purposes.
    </p>
  </div>
</div>

<div class="row" data-equalizer data-equalize-on="large">
  <div class="large-4 columns" data-equalizer-watch>
    <p class="tc">
      Start from the morphology of existing Poppy creatures and explore new uses and new situations.
    </p>
  </div>
  <div class="large-4 columns" data-equalizer-watch>
    <p class="tc">
      Modify the morphology of existing Poppy creatures to give them a new meaning.
    </p>
  </div>
  <div class="large-4 columns" data-equalizer-watch>
    <p class="tc">
      Use the technological bricks to invent an entirely new creature, and share it with the community!
    </p>
  </div>
</div>

{% include separator.html %}

<div class="row">
  <div class="large-9 columns large-centered">
    <h2 class="tc">Artistic Experimentations</h2>
  </div>
</div>

<div class="row">
  <div class="large-4 columns">
    <a href="{{ site.baseurl }}/{{ page.lang }}/projects/cherry" class="large-4 columns">
      <h3>Cherry project</h3>
    </a>
  </div>
  <div class="large-4 columns">
    <a href="{{ site.baseurl }}/{{ page.lang }}/projects/marionnettes-electriques" class="large-4 columns">
      <h3>Marionnettes électriques</h3>
    </a>
  </div>
</div>

<div class="row">
  <div class="large-9 columns large-centered">
    <div class="tc order-cta">
      <a href="{{ site.data.links.forum_artists }}" class="large success button">Join the community!</a>
    </div>
  </div>
</div>
