---
layout: cover
lang: fr
permalink: /fr/for-artists/
role: for-artists
title: "Poppy pour les artistes"
description: "Le projet Poppy a pour ambition de proposer une plate-forme modulaire que les artistes peuvent facilement s’approprier dans leurs propres recherches plastiques"
cover_image: "/assets/img/covers/humanoid-on-stage.jpg"
cover_title: "Applications artistiques"
published: true
---

<div class="row">
  <div class="large-9 columns large-centered">
    <p class="lead tc">
      L’objet robotique est un support de réflexion et une interface qui ouvre de nouveaux champs des possibles.
    </p>
    <p class="tc">
      La plate-forme Poppy a pour ambition de proposer une plate-forme modulaire que les artistes peuvent facilement s’approprier dans leurs propres recherches plastiques, soutenus par l’entre-aide d’une communauté multidisciplinaire et le partage des compétences techniques qui les aidera à réaliser leurs projets.
    </p>
  </div>
</div>

{% include separator.html %}

<div class="row">
  <div class="large-9 columns large-centered">
    <h2 class="tc">
      Comment utiliser la plate-forme Poppy ?
    </h2>
  </div>
</div>

<div class="row">
  <div class="large-9 columns large-centered">
    <p class="lead tc">
      Poppy est une plate-forme open source et modulaire développée avec des technologies robustes, malléables et accessibles, ouvrant les champs du possible à la création.
    </p>
    <p class="tc">
      La plate-forme est constituée de <a href="{{ site.baseurl }}/{{ page.lang }}/technologies">briques technologiques</a> permettant la création de nouveaux comportements ou formes robotiques. Elle fournit également des exemples de robots complets tels que <a href="{{ site.baseurl }}/{{ page.lang }}/robots/poppy-humanoid">Poppy Humanoid</a> et <a href="{{ site.baseurl }}/{{ page.lang }}/robots/poppy-ergo-jr">Ergo Jr</a>, pouvant être directement réutilisés ou modifiés à des fins artistiques.
    </p>
  </div>
</div>

<div class="row" data-equalizer data-equalize-on="large">
  <div class="large-4 columns" data-equalizer-watch>
    <p class="tc">
      Conserver la morphologie des robots développées par la communauté Poppy pour en explorer de nouveaux usages ou mises en situation.
    </p>
  </div>
  <div class="large-4 columns" data-equalizer-watch>
    <p class="tc">
      Modifier en partie la morphologie des robots pour leurs donner un nouveau sens.
    </p>
  </div>
  <div class="large-4 columns" data-equalizer-watch>
    <p class="tc">
      Utiliser les briques technologiques Poppy pour créer de nouveaux robots.
    </p>
  </div>
</div>

{% include separator.html %}

<div class="row">
  <div class="large-12 columns">
    <h3 class="tc">Comacina-Capsule</h3>
  </div>
  <div class="large-12 columns">
    <div class="flex-video ratio-16-9">
      <iframe width="1200" height="675" src="https://www.youtube.com/embed/GCCgN1__9vo?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <h4 class="tc">
      Résidences Arts &amp; Sciences : (Rencontre) artistique/robotique (autour du geste)
    </h4>
    <p class="description lead tc">
      La robotique et la danse ont au moins un objet en commun : le mouvement, pour sa fonction tant effective qu’émotive. Avec la volonté de « créer un désir moteur », les artistes de Comacina-Capsule créative explorent cette jonction en collaborant avec les concepteurs du robot <a href="{{ site.baseurl }}/{{ page.lang }}/robots/poppy-humanoid"">Poppy Humanoid</a>.
    </p>
    <p class="tc">
      <a href="http://artsciences.u-bordeaux.fr/post/129555229413/poppycomacina" class="button small">&raquo; En savoir plus</a>
    </p>
  </div>
</div>

{% include separator.html %}

<div class="row">
  <div class="large-12 columns">
    <h3 class="tc">Shonen &amp; Marionnettes électriques</h3>
  </div>
  <div class="large-12 columns">
    <div class="flex-video ratio-16-9">
      <iframe src="https://player.vimeo.com/video/141366076" frameborder="0" allowfullscreen></iframe>
    </div>
    <p class="description lead tc">
      SCHOOLOFMOON, par <a href="http://shonen.info/">Shonen</a> avec <a href="{{ site.baseurl }}/{{ page.lang }}/projects/marionnettes-electriques">Marionnettes électriques</a>.
    </p>
    <p class="tc">
      <a href="http://shonen.info/schoolofmoon/" class="button small">&raquo; En savoir plus</a>
    </p>
  </div>
</div>

{% include separator.html %}

<div class="row">
  <div class="large-12 columns">
    <h3 class="tc">Projet Pinoke</h3>
  </div>
  <div class="large-12 columns">
    <div class="flex-video ratio-16-9">
      <iframe width="1200" height="675" src="https://www.youtube.com/embed/tlQIcxVdqm8?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <p class="description lead tc">
      Le projet Pinoke est un développement créatif de 6 semaines pour créer une performance de danse transmédia à la pointe des technologies d'intelligence artificielle, de la pratique de la danse contemporaine, et de la publication.
    </p>
    <p class="tc">
      <a href="http://motionlab.deakin.edu.au/portfolio/thepinokeproject/" class="button small">&raquo; En savoir plus</a>
    </p>
  </div>
</div>

{% include separator.html %}

<div class="row">
  <div class="large-9 columns large-centered">
    <div class="tc order-cta">
      <a href="{{ site.data.links.forum_artists }}" class="large success button">Rejoignez la communauté artistique !</a>
    </div>
  </div>
</div>
