<div class="row large-9 columns small-centered tc">
  <h2 class="small-centered clish">{{ site.data.i18n.index.creatures.title[page.lang] }}</h2>
  <p class="lead">
   {{ site.data.i18n.index.creatures.content[page.lang] }}
  </p>
</div>

  <div class="row large-8 columns small-centered tc" data-equalizer data-equalize-on="large">

    <div class="large-5 columns ">
      <div data-equalizer-watch>
        {% include robots/humanoid.html %}
        <a href="http://poppy-project.org/{{ page.lang }}/robots/poppy-humanoid">{{ site.data.i18n.index.creatures.humanoid_cta[page.lang] }}</a>
      </div>
    </div>

    <div class="large-5 columns ">
      <div data-equalizer-watch>
        {% include robots/ergo.html %}

        <a href="http://poppy-project.org/{{ page.lang }}/robots/poppy-ergo-jr">{{ site.data.i18n.index.creatures.ergo_cta[page.lang] }}</a>
      </div>
    </div>

  </div>
