<div class="row large-9 columns small-centered tc">
  <h2 class="small-centered clish">{{ site.data.i18n.index.creatures.title[page.lang] }}</h2>
  <p class="lead">
    We've launched the Poppy project when we were researchers at <a href="https://flowers.inria.fr/">Inria Flowers</a>. 
    <br>
    From this project have emerged an <a href="https://forum.poppy-project.org/">amazing worldwide community</a> and two products commercialised by our distributor <a href="http://www.generationrobots.com/fr/279-poppy">Génération Robots</a>.
  </p>
</div>

  <div class="row large-7 columns small-centered tc" data-equalizer data-equalize-on="large">

    <div class="large-6 columns ">
      <div data-equalizer-watch>
        {% include robots/humanoid.html %}
      </div>
      <div class="cta">
        <a href="http://poppy-project.org/{{ page.lang }}/robots/poppy-humanoid">{{ site.data.i18n.index.creatures.humanoid_cta[page.lang] }}</a>
      </div>
    </div>

    <div class="large-6 columns ">
      <div data-equalizer-watch>
        {% include robots/ergo.html %}
      </div>
      <div class="cta">
        <a href="http://poppy-project.org/{{ page.lang }}/robots/poppy-ergo-jr">{{ site.data.i18n.index.creatures.ergo_cta[page.lang] }}</a>
      </div>
    </div>

  </div>

