<div class="creatures cover" {% if page.cover_image %}style="background-image: linear-gradient(to right, rgba(0,0,0,.35) 0%, rgba(0,0,0,.35) 100%), url({{ site.baseurl }}{{ page.cover_image }});"{% endif %}>
  <div class="row">
    <header class="main-header tc small-centered medium-9 columns">
      <h1>
        We are pollen robotics
      </h1>
      <h3>
        We make robotics an unique journey where <strong>stories ermerge from curiosity</strong>.
      </h3>
      <p class="lead">
      </p>
    </header>
  </div>
</div>