<div >
  <div class="row">
    <header class="main-header tc small-centered medium-9 columns">
      <h1 class="poppy">
        We are pollen robotics
      </h1>
      <br />
      <img src="{{ site.baseurl }}/assets/img/covers/logo-unfold.png" alt="{{ site.title }}">
      <br />
<!--       <p class="lead">
      We are specialized in building modular robots.
      </p>
 --><h2 class="poppy">
  We make robotics a unique journey where <strong>stories ermerge from curiosity</strong>.
</h2>
    </header>
  </div>
</div>

{% include separator.html %}
