<div class="row large-9 columns small-centered tc" style="padding-bottom: 0px;">

  <h2 class="small-centered clish"> {{ site.data.i18n.index.products.title[page.lang] }}</h2>

  <p class="lead">
   {{ site.data.i18n.index.products.content[page.lang] }}
  </p>
</div>

  <div class="row large-8 columns small-centered tc" style="padding-top: 0px;" data-equalizer data-equalize-on="large">

    <div class="large-4 columns ">
      <div data-equalizer-watch>
        {% include robots/ergo.html %}

        <a href="{{ site.baseurl }}/{{ page.lang }}/products/ergojr">{{ site.data.i18n.index.creatures.ergo_cta[page.lang] }}</a>
      </div>
    </div>

    <div class="large-4 columns ">
      <div data-equalizer-watch>
        {% include robots/humanoid.html %}
        <a href="{{ site.baseurl }}/{{ page.lang }}/products/poppy-humanoid">{{ site.data.i18n.index.creatures.humanoid_cta[page.lang] }}</a>
      </div>
    </div>

    <div class="large-4 columns ">
      <div data-equalizer-watch>
        {% include robots/doggy.html %}

        <a href="{{ site.baseurl }}/{{ page.lang }}/products/doggy">{{ site.data.i18n.index.creatures.doggy_cta[page.lang] }}</a>
      </div>
    </div>

  </div>

  <br />
  <div class="row tc large-12">
      <a class="button" href=" {{ site.baseurl }}/{{ page.lang }}/services" target="_blank"> <strong> &gt&gt {{ site.data.i18n.index.products.more[page.lang] }} &lt&lt </strong> </a>
  </div>

  <br />
