<div class="team">

  <div class="row large-9 columns small-centered tc" style="padding-bottom: 0px;">

    <h2 class="clish">
      {{ site.data.i18n.index.team.title[page.lang] }}
    </h2>
    <p class="lead">
      {{ site.data.i18n.index.team.intro[page.lang] }}
    </p>
    <div class="row" data-equalizer data-equalize-on="large">

      <div class="large-3 columns">
        <div data-equalizer-watch>
          {% include team/mlapeyre.html %}
        </div>
      </div>

      <div class="large-3 columns">
        <div data-equalizer-watch>
          {% include team/nrabault.html %}
        </div>
      </div>

      <div class="large-3 columns">
        <div data-equalizer-watch>
          {% include team/prouanet.html %}
        </div>
      </div>

      <div class="large-3 columns">
        <div data-equalizer-watch>
          {% include team/jgrizou.html %}
        </div>
      </div>

    </div>

  </div>

  <div class="row large-7 columns small-centered tc" style="padding-top: 0px;">

    <div class="large-4 columns">
      <div data-equalizer-watch>
        {% include team/oforni.html %}
      </div>
    </div>

    <div class="large-4 columns">
      <div data-equalizer-watch>
        {% include team/jgaiotto.html %}
      </div>
    </div>

    <div class="large-4 columns">
      <div data-equalizer-watch>
        {% include team/rkhaddhar.html %}
      </div>
    </div>

  </div>

</div>
