<section class="team tc">
  <h2 class="small-centered clish">{{ site.data.i18n.index.team.title[page.lang] }}</h2>

  <div class="row" data-equalizer data-equalize-on="large">

    <div class="large-4 columns team">
      <div data-equalizer-watch>
        {% include team/jgrizou.html %}
      </div>
    </div>

    <div class="large-4 columns creature">
      <div data-equalizer-watch>
        {% include robots/torso.html %}
      </div>
      <div class="cta">
        <a href="{{ site.baseurl }}/{{ page.lang }}/robots/poppy-torso">{{ site.data.i18n.index.creatures.torso_cta[page.lang] }}</a>
      </div>
    </div>

    <div class="large-4 columns creature">
      <div data-equalizer-watch>
        {% include robots/ergo.html %}
      </div>
      <div class="cta">
        <a href="{{ site.baseurl }}/{{ page.lang }}/robots/poppy-ergo-jr">{{ site.data.i18n.index.creatures.ergo_cta[page.lang] }}</a>
      </div>
    </div>

  </div>
</section>
