---
layout: single-column-cover
lang: fr
permalink: /fr/for-science/
role: for-science
title: "Poppy pour la science"
description: "Les formes des robots Poppy sont faciles à créer et modifier. Ces robots peuvent aussi être utilisés tels quels en tant que plate-forme expérimentale accessible"
cover_image: "/assets/img/covers/poppy-walking-shot.jpg"
cover_gradient: true
cover_title: "Plate-forme expérimentale pour la Science"
published: true
---

<div class="row">
  <div class="large-9 columns large-centered">
    <p class="lead tc">
      La plate-forme Poppy a été initialement conçue au sein d'un projet scientifique financé par l’État (<a href="https://flowers.inria.fr/">équipe Flowers</a> financée par <a href="http://erc.europa.eu/">l’ERC Grant</a> Explorers, <a href="http://www.inria.fr/">Inria</a> et <a href="http://www.aquitaine.fr/">la Région Aquitaine</a>). Elle visait à répondre conjointement à trois besoins complémentaires en robotique et sciences cognitives.
    </p>
  </div>
</div>

{% include separator.html %}

<div class="row">
  <div class="large-9 columns large-centered h-m10">
    <h2 class="tc">Faire du corps une variable expérimentale</h2>
    <p class="lead tc">
      Les propriétés du corps (formes, l’élasticité, distribution de la masse…) ont un impact crucial sur le contrôle sensori-moteur, les aptitudes cognitives et l’interaction sociale. Ainsi, des formes adéquates de jambes peuvent considérablement simplifier l’acquisition de la locomotion. La réponse sociale et émotionnelle d’un homme face à un robot est également fortement influencée par l’apparence du corps. Ainsi, une enquête scientifique sur le rôle du corps exige de concevoir et construire rapidement une morphologie alternative pour l’expérimentation. Grâce à l’impression 3D et d’autres techniques de prototypage rapide, ceci est dorénavant possible et à déjà été mis à profit dans la conception de la plate-forme Poppy.
    </p>
  </div>
</div>

{% include separator.html %}

<div class="row">
  <div class="large-9 columns large-centered h-m10">
    <h2 class="tc">Assurer des productions scientifiques qui soient ouvertes, accessibles, reproductibles et cumulatives</h2>
    <p>
      Les robots sont souvent des systèmes complexes et ceci a souvent abouti à des projets de recherche en robotique ayant des résultats qui ont été réalisés :
    </p>
    <ul>
      <li>Soit sur des plates-formes fermées, cachant parfois des détails cruciaux,</li>
      <li>Soit sur des expériences qui ne peuvent pas être reproduites.</li>
    </ul>
    <p>
      Ceci est un obstacle au progrès scientifique. La plate-forme Poppy est une étape vers la résolution de cette question, étant accessible à la fois en termes de coût et de complexité. Elle permet aux chercheurs de mutualiser le matériel et les détails expérimentaux, en plus de leur code et algorithmes.
    </p>
  </div>
</div>

{% include separator.html %}

<div class="row">
  <div class="large-9 columns large-centered h-m10">
    <h2 class="tc">Assurer des productions scientifiques qui soient utilisables en dehors des laboratoires et de la science</h2>
    <p>
      Un certain nombre de projets de recherche dans les laboratoires de sciences pourraient, en principe, être réutilisés dans des projets éducatifs, industriels ou dans des _fablab_. Pourtant, la difficulté d’accéder aux informations à travers le formalisme des publications scientifiques est souvent un obstacle.
    </p>
    <p>
      Le partage du matériel d’expérimentation grâce à la plate-forme Poppy ouvre de nouvelles possibilités dans cette perspective.
    </p>
  </div>
</div>

{% include separator.html %}

<div class="row">
  <div class="large-9 columns large-centered h-m10">
    <h2 class="tc">Comment utiliser la plate-forme Poppy pour son travail scientifique</h2>
  </div>
</div>

<div class="video-showcase row large-12 columns">
  <div class="flex-video ratio-16-9">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/AP8i435ztwE?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <p class="row columns description">
    TEDx talk sur la façon dont Poppy ouvre des possibilités scientifiques sur l’exploration des mécanismes d’apprentissage et de développement.
  </p>
</div>

{% include separator.html %}

<div class="row">
  <div class="large-9 columns large-centered">
    <p class="tc lead">
      La plate-forme Poppy permet aux utilisateurs de créer et modifier facilement la forme du robots. Les créatures Poppy peuvent également être utilisées directement comme plates-formes expérimentales reproductibles et accessibles.
    </p>
  </div>
</div>

<div class="row">
  <div class="large-4 columns">
    <p>
      Avec un coût raisonnable, une enquête rapide sur diverses conceptions mécaniques des parties du corps a pu être réalisée, comme <a href="https://hal.inria.fr/hal-00861110">sur les jambes</a>, ou <a href="https://flowers.inria.fr/PoppyHumanoids2014.pdf">sur les pieds</a>, et ceci afin d’étudier l’impact de leur structure sur l’équilibre ou encore sur la consommation d’énergie.
    </p>
  </div>
  <div class="large-4 columns">
    <p>
      Explorer comment les différentes apparences du corps peuvent avoir un impact sur l’interaction homme-robot ; par exemple, comment les êtres humains perçoivent les mouvements ou comment ils infèrent des états mentaux chez le robot.
    </p>
  </div>
  <div class="large-4 columns">
    <p>
      Tester des algorithmes d’apprentissage autonomes permettant au robot d’apprendre à contrôler ses nouvelles morphologies et/ou d’interagir avec des objets, comme cela à été fait avec <a href="https://github.com/flowersteam/explauto">Explauto</a>, une bibliothèque open-source python pour l'apprentissage motivé par la curiosité.
    </p>
  </div>
</div>

<div class="row">
  <div class="large-9 columns large-centered">
    <p class="lead">
      Grâce à la simulation, on peut aussi étudier comment les compétences acquises par le robot dans la simulation (par exemple en utilisant l’optimisation stochastique) peuvent être transférées efficacement au robot physique.
    </p>
    <p>
      Poppy étant libre et accessible, d’autres laboratoires dans le monde seront en mesure de reproduire votre recherche et de l’étendre avec leurs propres idées. Grâce à la technologie d’impression 3D permettant le prototypage rapide de pièces ainsi que l’existence d’une véritable communauté open-source, vous pouvez avoir des cycles de développement très courts, vos recherches avançant plus vite.
    </p>
  </div>
</div>

{% include separator.html %}

<div class="row">
  <div class="large-9 columns large-centered h-m10">
    <h2 class="tc">Comment puis-je contribuer ?</h2>
    <li>
      <p>
        En <strong>étudiant</strong> votre propre question de recherche à l’aide de la plate-forme Poppy, et en partageant votre travail à la communauté de telle sorte que tout le monde puisse reproduire vos résultats et vos tests sur leur propre plate-forme ;
      </p>
    </li>
    <li>
      <p>
        En <strong>créant</strong> des didacticiels permettant à d’autres chercheurs de reproduire vos expériences ;
      </p>
    </li>
    <li>
      <p>
        En <strong>connectant</strong> vos algorithmes d’apprentissage ou de contrôle avec la bibliothèque <em>pypot</em> afin que les utilisateurs de la communauté Poppy puissent les réutiliser pour leurs projets ;
      </p>
    </li>
    <li>
      <p>
        En <strong>proposant</strong> des défis scientifiques à la communauté Poppy ;
      </p>
    </li>
    <li>
      <p>
        En <strong>aidant</strong> les autres à résoudre leurs objectifs scientifiques.
      </p>
    </li>
  </div>
</div>
