---
layout: cover
lang: en
permalink: /en/education/
role: education
title: "Poppy project for education"
description: "Poppy, an open-source robotics platform based on 3D printing, is used as a tool for teaching in middle and high schools, fablabs, workshops..."
cover_image: "/assets/img/covers/ergo.jpg"
cover_title: "Open-source robots and activities for teaching Digital Science"
published: true
---

<div class="row">
  <div class="large-9 columns large-centered">
    <h2 class="tc">Poppy, an open-source robotics platform based on 3D printing, is used as a tool for teaching</h2>
    <p class="lead tc">
      With Poppy you can program robotics objects without needing to build the complete robot design beforehand. A wide range of possible educational activities including secondary school, higher education, various options and subjects can benefit from this tool.
    </p>
  </div>
</div>

{% include separator.html %}

<div class="row">
  <div class="large-9 columns large-centered">
    <p>
      The platform accessibility enables teachers to create and to share educational and collaborative projects that meet two key characteristics:
    </p>
    <ul>
      <li>Integration of <strong>various technologies and methodologies</strong>: 3D printing, programming, electronics, machine learning algorithms.</li>
      <li>Connections and <strong>collaborations between different disciplines</strong>: engineering, science, design, humanities, art.</li>
    </ul>
    <p>
      Poppy Education aims to create, evaluate and disseminate all-inclusive pedagogical kits, open-source and low cost, for teaching computer science and robotics.
    </p>
    <div class="tc order-cta">
      <a href="{{ site.data.links.activities_booklet }}" class="large success button">Download the pedagogical activities booklet</a>
    </div>
  </div>
</div>

{% include separator.html %}

<div class="row">
  <div class="large-9 columns large-centered">
    <h2 class="tc">Why?</h2>
    <p class="lead tc">
      To help young people <strong>to take ownership</strong> with concepts and technologies of the digital world, and provide the tools they need to allow them to <strong>become actors</strong> of this world, with a considerable socio-economic potential.
    </p>
  </div>
</div>

{% include separator.html %}

<div class="row">
  <div class="large-9 columns large-centered">
    <h2 class="tc">How?</h2>

    <p class="lead tc">
      <strong>In collaboration</strong> with teachers. Users and their needs are placed at the center of this project. The Poppy Education pedagogical tools are created with them and evaluated in real life by experiments.
    </p>
  </div>
</div>

<div class="row">
  <div class="large-9 columns large-centered">
    <p>
      Poppy Education is based on the robotic platform Poppy, from which it is possible to build different robots, including:
    </p>

    <ul>
      <li>
        <a href="{{ site.baseurl }}/{{ page.lang }}/robots/poppy-humanoid">Poppy Humanoid</a>, a robust and complete robotics platform designed for genuine experiments in the real world and can be adapted to specific user needs.
      </li>
      <li>
        <a href="{{ site.baseurl }}/{{ page.lang }}/robots/poppy-torso">Poppy Torso</a>, a variant of Poppy Humanoid that can be easily installed on any flat support.
      </li>
      <li>
        <a href="{{ site.baseurl }}/{{ page.lang }}/robots/poppy-ergo-jr">Ergo Jr</a>, a robotic arm. Durable and inexpensive, it is perfect to be used in class.
      </li>
    </ul>
  </div>
</div>

{% include separator.html %}

<div class="row">
  <div class="large-9 columns large-centered">
    <h2 class="tc">Programming</h2>
    <p class="tc lead">
      Poppy robots are easy to program. Different options are possible based on students level and teaching objectives.
    </p>
  </div>
</div>

<div class="row">
  <div class="large-4 columns">
    <h3 class="tc">Python</h3>
    <p class="tc">
      Directly from a web browser by using Jupyter Notebook, an interactive terminal in a web interface for the Python programming language.
    </p>
  </div>
  <div class="large-4 columns">
    <h3 class="tc">Snap!</h3>
    <p class="tc">
      The visual programming system Snap!, which is a variant of Scratch. Its features allow a <strong>thorough introduction</strong> of information technology.
    </p>
  </div>
  <div class="large-4 columns">
    <h3 class="tc small">You chose</h3>
    <p class="tc">
      C++, Java, Matlab, Ruby, JavaScript... Thanks to a REST API that allows sending commands and receiving information from the robot with simple HTTP requests.
    </p>
  </div>
</div>

<div class="video-showcase">
  <div class="row">
    <div class="large-12 columns large-centered">
      <div class="flex-video ratio-16-9">
        <iframe width="1200" height="675" src="https://www.youtube.com/embed/cXHeD8XeZTc?rel=0&amp;showinfo=0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

{% include separator.html %}

<div class="row">
  <div class="large-9 columns large-centered">
    <h2 class="tc">Simulation</h2>
    <p class="tc lead">
      Poppy Humanoid, Torso and Ergo Jr robots can be simulated with V-REP. It is possible in the classroom to work on the simulated model and then allow students to run their program on the physical robot.
    </p>
  </div>
</div>
