---
layout: cover
lang: fr
permalink: /fr/education/
role: education
title: "Poppy pour l'éducation"
description: "Poppy, une plateforme de robotique open-source, peut être utilisée à des fins éducatives : workshops, collèges et lycées, fablabs..."
cover_image: "/assets/img/covers/ergo.jpg"
cover_title: "Des robots et des activités open-source pour l’enseignement des Sciences du Numérique"
published: true
---

<div class="row">
  <div class="large-9 columns large-centered">
    <h2 class="tc">Poppy, la plateforme robotique open-source basée sur l’impression 3D, est utilisée comme un outil pour l’enseignement</h2>
    <p class="lead tc">
      Avec Poppy, vous avez le choix de programmer des objets robotiques prêts à l’emploi ou que vous avez construits. L’étendue des activités pédagogiques possibles est vaste. Collège, ICN, ISN, STI2D, enseignement supérieur… les options et les filières pouvant tirer profit de ce dispositif sont nombreuses.
    </p>
  </div>
  <div class="tc order-cta">
    <a href="{{ site.data.links.poppy_education }}" class="large warning button">Découvrez le site Poppy Education</a>
  </div>
</div>

{% include separator.html %}

<div class="row">
  <div class="large-9 columns large-centered">
    <p>
      L’accessibilité de la plateforme permet la conception et le partage de projets éducatifs et collaboratifs répondant à deux caractéristiques essentielles :
    </p>
    <ul>
      <li>Intégration de <strong>multiples technologies et méthodologies</strong> : impression 3D, programmation, électronique, algorithmes d’apprentissage.</li>
      <li>Connexions et <strong>collaborations entre diverses disciplines</strong> : ingénierie, sciences, design, sciences humaines, art.</li>
    </ul>
    <p>
      Poppy Education vise à créer, évaluer et disséminer des kits pédagogiques « clés en main » open-source et libres, à coût réduit, pour l’enseignement de l’informatique et de la robotique.
    </p>
    <div class="tc order-cta">
      <a href="{{ site.data.links.activities_booklet }}" class="large success button">Télécharger le livret d'activités pédagogiques</a>
    </div>
  </div>
</div>

{% include separator.html %}

<div class="row">
  <div class="large-9 columns large-centered">
    <h2 class="tc">Pourquoi ?</h2>
    <p class="tc lead">
      Pour contribuer à <strong>l’appropriation</strong> par les jeunes des concepts et des techniques du monde numérique, et leur fournir les outils qui leur permettront à leur tour de <strong>devenir acteurs</strong> de ce monde au potentiel socio-économique considérable.
    </p>
  </div>
</div>

{% include separator.html %}

<div class="row">
  <div class="large-9 columns large-centered">
    <h2 class="tc">Comment ?</h2>

    <p class="lead tc">
      <strong>En collaboration</strong> avec les enseignants. Les utilisateurs et la prise en compte de leurs besoins sont placés au centre de ce projet. Les outils pédagogiques Poppy Education sont déployés directement auprès de ces utilisateurs et évalués en situation réelle par des expérimentations.
    </p>
  </div>
</div>

<div class="row">
  <div class="large-9 columns large-centered">
    <p>
      Poppy Éducation repose sur la plateforme robotique Poppy, laquelle permet de construire différents robots, notamment :
    </p>

    <ul>
      <li>
        <a href="{{ site.baseurl }}/{{ page.lang }}/robots/poppy-humanoid">Poppy Humanoid</a>, une plateforme robotique robuste et complète conçue pour de véritables expérimentations dans le monde réel et adaptable aux besoins spécifiques des utilisateurs.
      </li>
      <li>
        <a href="{{ site.baseurl }}/{{ page.lang }}/robots/poppy-torso">Poppy Torso</a>, une variante du robot Poppy Humanoid. C’est un robot torse humanoïde qui peut s’installer facilement sur n'importe quel support stable.
      </li>
      <li>
        <a href="{{ site.baseurl }}/{{ page.lang }}/robots/poppy-ergo-jr">Ergo Jr</a>, un bras robotique. Solide et peu coûteux, il est parfait pour être utilsé en classe.
      </li>
    </ul>
  </div>
</div>

{% include separator.html %}

<div class="row">
  <div class="large-9 columns large-centered">
    <h2 class="tc">Programmation</h2>
    <p class="tc lead">
      Les robots Poppy sont très simples à programmer. Différentes options sont possibles en fonction du niveau des élèves et des objectifs pédagogiques.
    </p>
  </div>
</div>

<div class="row">
  <div class="large-4 columns">
    <h3 class="tc">Python</h3>
    <p class="tc">
      Directement à partir d’un navigateur web en utilisant Jupyter Notebook, un terminal interactif dans une interface web pour le langage de programmation Python.
    </p>
  </div>
  <div class="large-4 columns">
    <h3 class="tc">Snap!</h3>
    <p class="tc">
      Le système de programmation visuel Snap!, qui est une variante de Scratch. Ses fonctionnalités permettent une <strong>introduction approfondie</strong> de l’informatique.
    </p>
  </div>
  <div class="large-4 columns">
    <h3 class="tc small">Votre langage</h3>
    <p class="tc">
      C++, Java, Matlab, Ruby, Javascript... grâce à une API REST qui permet d’envoyer des commandes et de recevoir des informations provenant du robot avec de simples requêtes HTTP.
    </p>
  </div>
</div>

<div class="video-showcase">
  <div class="row">
    <div class="large-12 columns large-centered">
      <div class="flex-video ratio-16-9">
        <iframe width="1200" height="675" src="https://www.youtube.com/embed/T1ZxHZ0POk0?rel=0&amp;showinfo=0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

{% include separator.html %}

<div class="row">
  <div class="large-9 columns large-centered">
    <h2 class="tc">Simulation</h2>
    <p class="tc lead">
      Les robots Poppy Humanoid, Torso et Ergo Jr peuvent être simulés avec V-REP. Il est possible en classe de faire travailler les étudiants sur le modèle simulé et de leur permettre ensuite de faire fonctionner leur programme sur le robot physique.
    </p>
  </div>
</div>

{% include separator.html %}

<div class="row">
  <div class="large-6 columns large-centered">
    {% include newsletter.html %}
  </div>
</div>
