---
layout: 9-columns-cover
lang: en
title: "Poppy-Humanoid"
description: "Poppy-Humanoid: an open source robot for the research, the education and the art."
permalink: /en/products/poppy-humanoid
role: poppy-humanoid
in_nav: true
cover_title: "Poppy-Humanoid"
cover_image: "/assets/img/covers/poppy-matthieu-lapeyre.jpg"
cover_gradient: true
cover_size: small
published: true
order: 4
---


<div class="row large-12 columns small-centered tc">

  <h2 class="clish">
      Poppy-Humanoid: an open-source robot open-source for research, education and art
  </h2>
  <p class="lead">
      The Poppy project is born from a collaboration between <a href="{{ site.baseurl }}/{{ page.lang }}/people/mlapeyre">Matthieu Lapeyre</a> and <a href="{{ site.baseurl }}/{{ page.lang }}/people/prouanet">Pierre Rouanet</a>, in the <a href="https://flowers.inria.fr">Inria Flowers</a> lab. They were driven by the will to built an <strong>open-source, reproductible, and gathering a large community</strong> platform. Thanks to their <strong>technological expertise </strong> they made Poppy Humanoid.
    <br />
    <br />

    <iframe width="560" height="315" src="https://www.youtube.com/embed/P15V3UwmXnc" frameborder="0" allowfullscreen></iframe>

</p>
</div>

{% include separator.html %}

<section class="audiences tc">
  <h2 class="clish">Why Poppy-Humanoid?</h2>

  <div class="row" data-equalizer data-equalize-on="large">
    <div class="large-4 columns audience-tag education">
      <div data-equalizer-watch>
        <figure>
          <span>
          <img src="{{ site.baseurl }}/assets/img/research-logo.svg" alt="reseach logo" width="50" height="50">
          </span>
        </figure>
        <h3>Research</h3>
        <p>Poppy Humanoid has been designed in a research project aiming at creating a research robotic platform that could be <strong>easily reproduced</strong>. Its <strong>mechanical structure can be quickly modified</strong>.</p>
      </div>
    </div>
    <div class="large-4 columns audience-tag art">
      <div data-equalizer-watch>
        <figure>
          <span>
          <img src="{{ site.baseurl }}/assets/img/education-logo.svg" alt="education logo" width="50" height="50">
          </span>
        </figure>
        <h3>Education</h3>
        <p>Case study for the <strong>engineer schools especially in mecanics, electronics and computer science</strong>. Its open-source release let you modify it and transform it into brand new projects.</p>
      </div>
    </div>
    <div class="large-4 columns audience-tag science">
      <div data-equalizer-watch>
        <figure>
          <span>
          <img src="{{ site.baseurl }}/assets/img/art-logo.svg" alt="art logo" width="50" height="50">
          </span>
        </figure>
        <h3>Art</h3>
        <p>Its <strong>articulated and bio-inspired morphology</strong> and its strong <strong>aesthetic</strong> made it a study object in artistic creation about <strong>the study of motion and interaction</strong>.</p>
      </div>
    </div>
  </div>
</section>

{% include separator.html %}

<div class="row large-12 columns small-centered tc">
    <p class="lead">
        Poppy Humanoid has been largely diffused. It gave birth to a large and diversed community that created new amazing projects.
    </p>
    <br />

    <div class="row">
        <div class="large-6 columns">
            <div class="flex-video">
                <iframe src="https://player.vimeo.com/video/141366076" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>

        <div class="large-6 columns">
            <div class="flex-video">
                <iframe src="https://www.youtube.com/embed/Be5jOgR_Ta0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <div class="flex-video">
                <iframe src="https://www.youtube.com/embed/RqyVt9m4pCg" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="large-6 columns">
            <div class="flex-video">
                <iframe src="https://www.youtube.com/embed/IZTbqV3y1L4" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

{% include separator.html %}

<div class="row large-12 columns small-centered tc">
    <p class="lead">
    The Poppy Humanoid robot is available as kit on <a href="https://www.generationrobots.com/{{ page.lang }}/402077-kit-robot-humanoide-poppy-10-avec-impressions-3d.html">Génération Robots</a> website. It also exists as a <a href="https://www.generationrobots.com/fr/402108-robot-poppy-torso-sans-impressions-3d.html">Trunk</a> version, only consisting of the upper part of the robot.
    </p>
</div>

<div class="row tc large-12">
    <a class="button" href=" {{ site.baseurl }}/{{ page.lang }}/services" target="_blank"> <strong> &gt&gt Find out more about our service offers &lt&lt </strong> </a>
</div>
