---
layout: 9-columns-cover
lang: fr
title: "Poppy-Humanoid"
description: "Poppy-Humanoid : robot open source pour la recherche, l'éducation et l'art."
permalink: /fr/products/poppy-humanoid
role: poppy-humanoid
in_nav: true
cover_title: "Poppy-Humanoid"
cover_image: "/assets/img/covers/poppy-matthieu-lapeyre.jpg"
cover_gradient: true
cover_size: small
published: true
order: 4
---


<div class="row large-12 columns small-centered tc">

  <h2 class="clish">
      Poppy-Humanoid : robot open-source pour la recherche, l'art et l'éducation
  </h2>
  <p class="lead">
      Le projet Poppy est né d'une collaboration entre <a href="{{ site.baseurl }}/{{ page.lang }}/people/mlapeyre">Matthieu Lapeyre</a> et <a href="{{ site.baseurl }}/{{ page.lang }}/people/prouanet">Pierre Rouanet</a>, au sein du laboratoire <a href="https://flowers.inria.fr">Inria Flowers</a>. Animés par la volonté de créer une <strong>plateforme open-source, reproductible, fédérant une large communauté</strong> et fort de leur <strong>expertise technologique</strong> ils ont réalisé Poppy Humanoid.
    <br />
    <br />

    <iframe width="560" height="315" src="https://www.youtube.com/embed/P15V3UwmXnc" frameborder="0" allowfullscreen></iframe>

</p>
</div>

{% include separator.html %}

<section class="audiences tc">
  <h2 class="clish">Pourquoi Poppy-Humanoid ?</h2>

  <div class="row" data-equalizer data-equalize-on="large">
    <div class="large-4 columns audience-tag education">
      <div data-equalizer-watch>
        <figure>
          <span>
          <img src="{{ site.baseurl }}/assets/img/research-logo.svg" width="50" height"50">
          </span>
        </figure>
        <h3>Recherche</h3>
        <p>Poppy Humanoid a été conçu dans un projet de recherche visant à créer une plateforme qui soit <strong>facilement reproductible</strong> et dont la <strong>structure mécanique puisse être modifiée</strong>.</p>
      </div>
    </div>
    <div class="large-4 columns audience-tag art">
      <div data-equalizer-watch>
        <figure>
          <span>
          <img src="{{ site.baseurl }}/assets/img/education-logo.svg" width="50" height"50">
          </span>
        </figure>
        <h3>Éducation</h3>
        <p>Très bon cas d'étude pour des <strong>écoles d'ingénieur en mécanique, électronique et informatique</strong>. Sa mise en open-source permet de pouvoir le modifier pour créer de nouveaux projets.</p>
      </div>
    </div>
    <div class="large-4 columns audience-tag science">
      <div data-equalizer-watch>
        <figure>
          <span>
          <img src="{{ site.baseurl }}/assets/img/art-logo.svg" width="50" height"50">
          </span>
        </figure>
        <h3>Art</h3>
        <p>Sa <strong>morphologie articulée, bio-inspirée</strong> et son <strong>esthétique</strong> très travaillés en font un objet d'étude pour des créations artistiques autour de <strong>l'étude du mouvement et de l'interaction</strong>.</p>
      </div>
    </div>
  </div>
</section>

{% include separator.html %}

<div class="row large-12 columns small-centered tc">
    <p class="lead">
        Poppy Humanoid a connu une diffusion très large et a donné naissance à une communauté multi-disciplinaire. Ceci a donné lieu à de superbes projets.
    </p>
    <br />

    <div class="row">
        <div class="large-6 columns">
            <div class="flex-video">
                <iframe src="https://player.vimeo.com/video/141366076" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>

        <div class="large-6 columns">
            <div class="flex-video">
                <iframe src="https://www.youtube.com/embed/Be5jOgR_Ta0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
<div class="row">
    <div class="large-6 columns">
        <div class="flex-video">
            <iframe src="https://www.youtube.com/embed/RqyVt9m4pCg" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="large-6 columns">
        <div class="flex-video">
            <iframe src="https://www.youtube.com/embed/IZTbqV3y1L4" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <!-- <div class="large-6 columns tc">
        <iframe src="https://www.youtube.com/embed/FGKFoUICByE" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="large-6 columns tc">
        <iframe src="https://www.youtube.com/embed/usDAgvcEXJA" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="large-12 columns tc">
        <!-- <iframe src="https://www.youtube.com/embed/usDAgvcEXJA" frameborder="0" allowfullscreen></iframe> -->
        <!-- <p>Video Ergo dino grabber</p>
    </div> -->
</div>

{% include separator.html %}

<div class="row large-12 columns small-centered tc">
    <p class="lead">
    Le robot Poppy Humanoid est disponible chez <a href="https://www.generationrobots.com/{{ page.lang }}/402077-kit-robot-humanoide-poppy-10-avec-impressions-3d.html">Génération Robots</a> sous forme de kits. Il existe également une version <a href="https://www.generationrobots.com/fr/402108-robot-poppy-torso-sans-impressions-3d.html">Torso</a> qui comporte uniquement la partie supérieure du robot.
    </p>
</div>

<div class="row tc large-12">
    <a class="button" href=" {{ site.baseurl }}/{{ page.lang }}/services" target="_blank"> <strong> >> En savoir plus sur nos offres de service << </strong> </a>
</div>
