---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang }}">

{% include head.html %}

    <body>

        <section role="main">
          {% include header.html %}

          <article class="page">

              <div class="row columns">
                {{ content }}
                </div>
            </article>

        </section>

        <script src="{{ site.baseurl }}/assets/js/svgxuse.min.js"></script>

        <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
        <script src="{{ site.baseurl }}/assets/js/what-input.min.js"></script>
        <script src="{{ site.baseurl }}/assets/js/foundation.min.js"></script>
        <script>
          $(document).foundation();
        </script>

        {% include ga.html %}
    </body>
</html>



