---
layout: 9-columns-cover
lang: en
title: "Ergo-Jr"
description: "Ergo-Jr: a robot that teaches you STEM"
permalink: /en/products/ergojr
role: ergojr
in_nav: true
cover_title: "Ergo-Jr"
cover_image: "/assets/img/covers/ergo-wood.jpg"
cover_gradient: true
cover_size: small
published: true
order: 2
---


<div class="row large-12 columns small-centered tc">

  <h2 class="clish">
      Ergo-Jr: a robot designed for education
  </h2>
  <p class="lead">
      Ergo-Jr is a small robotic arm designed for <strong>learning computer science</strong>. It helps you understand how to build and program robots.
    <br />
    <br />

  </p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/cXHeD8XeZTc" frameborder="0" allowfullscreen></iframe>
  <br />
  <br />

  <p class="lead">
        We designed the Ergo-Jr while researchers in the <a href="https://flowers.inria.fr"> Inria Flowers</a> team. It was created and designed in collaboration with many <a href="https://www.poppy-project.org/{{ page.lang }}/education/">school teachers</a> to best fit curriculum requirements.
    </p>
</div>

{% include separator.html %}

<section class="audiences tc">
  <h2 class="clish">Why the Ergo-Jr?</h2>

  <div class="row" data-equalizer data-equalize-on="large">
    <div class="large-4 columns audience-tag education">
      <div data-equalizer-watch>
        <figure>
          <span>
          <img src="{{ site.baseurl }}/assets/img/3d-printing.svg" alt="3d printer icon" width="50" height="50">
          </span>
        </figure>
        <h3>3D printings</h3>
        <p>The structure is entirely 3D printed. The <a href="https://github.com/poppy-project/poppy-ergo-jr">3D models are available </a> and can be freely modified.</p>
      </div>
    </div>
    <div class="large-4 columns audience-tag art">
      <div data-equalizer-watch>
        <figure>
          <span>
          <img src="{{ site.baseurl }}/assets/img/raspberry-pi.svg" alt="raspberry pi icon" width="50" height="50">
          </span>
        </figure>
        <h3>Maker at heart</h3>
        <p><strong>Accessible, open-source, hackable</strong>. The Ergo-Jr is built upon the <a href="https://www.raspberrypi.org">RaspberryPi board</a> and can be easily combined with <a href="https://www.arduino.cc">Arduino</a>.</p>
      </div>
    </div>
    <div class="large-4 columns audience-tag science">
      <div data-equalizer-watch>
        <figure>
          <span>
              <img src="{{ site.baseurl }}/assets/img/Scratchcat.svg" alt="Scratch cat icon" height="50" width="50">
          </span>
        </figure>
        <h3>STEM</h3>
        <p>It can be programmed in <a href="https://scratch.mit.edu">Scratch</a> and <a href="https://python.org">Python</a>. It comes with <strong>pedagogical activites designed with school teachers</strong> to really fit the curriculum.</p>
      </div>
    </div>
  </div>
</section>

<div class="row large-12 columns small-centered tc">
    <p class="lead">
    The Ergo-Jr is <a href="https://github.com/poppy-project/poppy-ergo-jr">open-source</a> and belongs to the Makers movement. It can be freely modified, adapted, hacked to give birth to <strong>new amazing projects</strong>. <br> A few examples gathered from our community:
    </p>
    <br />

    <div class="large-4 columns">
        <div class="flex-video">
            <iframe src="https://www.youtube.com/embed/FGKFoUICByE" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="large-4 columns">
        <div class="flex-video">
            <iframe src="https://www.youtube.com/embed/usDAgvcEXJA" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="large-4 columns">
        <div class="flex-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zfyHq2i6ZtY" frameborder="0" allowfullscreen></iframe>
         </div>
    </div>
</div>

{% include separator.html %}

<div class="row large-12 columns small-centered tc">
    <p class="lead">
    The Ergo-Jr is available as a kit on <a href="https://www.generationrobots.com/{{ page.lang }}/402378-poppy-ergo-jr-avec-impressions-3d.html">Génération Robots</a> website. A <a href="https://drive.google.com/uc?export=download&id=0B2jV8VX-lQHwTUxXZjF3OGxHVGM">pedgogical activities booklets</a> helps you discover and starts learning with the platform.
    </p>
</div>

<div class="row tc large-12">
    <a class="button" href="{{ site.baseurl }}/{{ page.lang }}/services" target="_blank"> <strong> &gt;&gt; Find out more about our service offers &lt;&lt; </strong> </a>
</div>
