---
layout: 9-columns-cover
lang: fr
title: "Ergo-Jr"
description: "Ergo-Jr : un robot pour apprendre les sciences du numérique"
permalink: /fr/products/ergojr
role: ergojr
in_nav: true
cover_title: "Ergo-Jr"
cover_image: "/assets/img/covers/ergo-wood.jpg"
cover_gradient: true
cover_size: small
published: true
---


<div class="row large-12 columns small-centered tc">

  <h2 class="clish">
      Ergo-Jr : un robot pour l'éducation
  </h2>
  <p class="lead">
      L'Ergo-Jr est un petit bras robotique conçu pour <strong>l'apprentissage des sciences du numérique</strong>. Il permet d'appréhender les bases de la construction de robot ainsi que de la programmation.
    <br />
    <br />

    <iframe width="560" height="315" src="https://www.youtube.com/embed/cXHeD8XeZTc" frameborder="0" allowfullscreen></iframe>

    <p class="lead">
        Nous avons conçu l'Ergo-Jr alors que nous étions chercheur de l'équipe <a href="https://flowers.inria.fr"> Inria Flowers</a>. Il a été pensé et réalisé en <a href="https://www.poppy-project.org/{{ page.lang }}/education/">partenariat avec de nombreux professeurs</a> pour s'adapter au mieux aux besoins éducatifs.
    </p>

</p>
</div>

{% include separator.html %}

<section class="audiences tc">
  <h2 class="clish">Pourquoi l'Ergo-Jr ?</h2>

  <div class="row" data-equalizer data-equalize-on="large">
    <div class="large-4 columns audience-tag education">
      <div data-equalizer-watch>
        <figure>
          <span>
          <img src="{{ site.baseurl }}/assets/img/3d-printing.svg" width="50" height"50">
          </span>
        </figure>
        <h3>Impression 3D</h3>
        <p>La structure est entièrement imprimée en 3D. Les <a href="https://github.com/poppy-project/poppy-ergo-jr">plans sont disponibles</a> et peuvent donc être modifiés et transformés.</p>
      </div>
    </div>
    <div class="large-4 columns audience-tag art">
      <div data-equalizer-watch>
        <figure>
          <span>
          <img src="{{ site.baseurl }}/assets/img/raspberry-pi.svg" width="50" height"50">
          </span>
        </figure>
        <h3>Coeur de Maker</h3>
        <p><strong>Accessible, open-source, hackable</strong>. L'Ergo-Jr est construit autour de <a href="https://www.raspberrypi.org">RaspberryPi</a> et peut être facilement combiné avec <a href="https://www.arduino.cc">Arduino</a>.</p>
      </div>
    </div>
    <div class="large-4 columns audience-tag science">
      <div data-equalizer-watch>
        <figure>
          <span>
          <img src="{{ site.baseurl }}/assets/img/Scratchcat.svg" width="50" height"50">
          </span>
        </figure>
        <h3>Éducation au numérique</h3>
        <p>Programmable en <a href="https://scratch.mit.edu">Scratch</a> et <a href="https://python.org">Python</a>. <strong>Activités pédagogiques conçues avec des professeurs</strong> pour coller au mieux au programme.</p>
      </div>
    </div>
  </div>
</section>

<div class="row large-12 columns small-centered tc">
    <p class="lead">
    L'Ergo-Jr est <a href="https://github.com/poppy-project/poppy-ergo-jr">open-source</a> et s'inscrit dans le mouvement Makers. Il peut être modifié, adapaté, hacké et donner vie à <strong>de nouveaux projets</strong>. Quelques exemples issues de la communauté :
    </p>
    <br />

    <div class="large-6 columns tc">
        <iframe src="https://www.youtube.com/embed/FGKFoUICByE" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="large-6 columns tc">
        <iframe src="https://www.youtube.com/embed/usDAgvcEXJA" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="large-12 columns tc">
        <!-- <iframe src="https://www.youtube.com/embed/usDAgvcEXJA" frameborder="0" allowfullscreen></iframe> -->
        <p>Video Ergo dino grabber</p>
    </div>
</div>

{% include separator.html %}

<div class="row large-12 columns small-centered tc">
    <p class="lead">
    L'Ergo-Jr est disponible chez <a href="https://www.generationrobots.com/{{ page.lang }}/402378-poppy-ergo-jr-avec-impressions-3d.html">Génération Robots</a> sous forme de kits. Un <a href="https://drive.google.com/uc?export=download&id=0B2jV8VX-lQHwTUxXZjF3OGxHVGM">livret d'activités pédagogiques</a> permet de découvrir et prendre en main rapidement la plateforme.
    </p>

    <!-- <img src="https://github.com/poppy-project/poppy-ergo-jr/raw/master/doc/img/assembly/steps/ErgoJr_assembly.gif"/> -->
</div>

<div class="row tc large-12">
    <a class="button" href=" {{ site.baseurl }}/{{ page.lang }}/services" target="_blank"> <strong> >> En savoir plus sur nos offres de service << </strong> </a>
</div>
