---
lang: en
layout: cover
permalink: /en/robots/poppy-humanoid/
role: poppy-humanoid
title: "Poppy Humanoid"
description: "Poppy Humanoid is a complete humanoid robot designed to be robust to real world experimentations and highly hackable so it can be adapted to the user needs"
cover_image: "/assets/img/covers/poppy_humanoid_ergo_playground.jpg"
cover_title: "Poppy Humanoid: advanced and easy to use open source humanoid robot"
cover_gradient: true
published: true
---

<div class="row">
  <div class="large-9 columns large-centered">
    <p class="lead tc">
      Poppy Humanoid integrates advanced robotic features in a modular and easy-to-use open source platform.
    </p>
    <p class="tc">
      Based on advanced Robotis actuators and neat 3D printed parts, it allows for anyone (artists, educators, developpers or scientists) to freely use it and hack it in their very own way.
    </p>
  </div>
</div>

{% include separator.html %}

<div class="row">
  <div class="large-9 columns large-centered">
    <h2 class="tc">Features</h2>
    <p class="tc">
      The robot is designed to be fully hacked, therefore the following specifications are the standard ones and can be easily modified or upgraded to fit specific needs.
    </p>
  </div>
</div>

<div class="row">
  <div class="large-6 columns">
    <h3>Poppy Humanoid v1.0.2</h3>
    <ul>
      <li>Size: 83cm</li>
      <li>Mass: 3.5kg</li>
      <li>Embedded system: Odroid XU4 with Ubuntu 14.04</li>
      <li>25 actuators</li>
      <li>Large FOV and HD camera</li>
    </ul>

    <p class="small">Options</p>

    <ul>
      <li>IMU 9 DoF</li>
      <li>4.5 inches screen</li>
    </ul>
  </div>

  <div class="large-6 columns">
    <div class="hl-image">
      <img src="{{ site.baseurl }}/assets/img/humanoid-skating.jpg" alt="Skateboarding Poppy Humanoid">
    </div>
  </div>
</div>

{% include separator.html %}

<div class="row">
  <div class="large-9 columns large-centered">
    <h2 class="tc">Get your Poppy Humanoid</h2>

    <p class="tc">
      The Poppy Humanoid kit is distributed by Génération Robots.
    </p>

    <div class="tc order-cta">
      <a href="http://www.generationrobots.com/en/312-poppy-humanoid-robot" class="large success button">Order your Poppy Humanoid</a>
    </div>

    <p class="tc">
      Alternatively, you can aggregate all components needed by your own, using the latest <a href="https://docs.poppy-project.org/en/assembly-guides/poppy-humanoid/bom.html">bill of material</a>.
    </p>
  </div>
</div>
