---
lang: fr
layout: cover
permalink: /fr/robots/poppy-humanoid
role: poppy-humanoid
title: "Poppy Humanoid"
description: "Poppy Humanoid est un robot humanoïde complet conçu pour être robuste aux expérimentations et personnalisable pour être adapté aux besoins des utilisateurs"
cover_image: "/assets/img/covers/poppy_humanoid_ergo_playground.jpg"
cover_title: "Poppy Humanoid : un robot open-source perfectionné et facile à utiliser"
cover_gradient: true
published: true
---

<div class="row">
  <div class="large-9 columns large-centered">
    <p class="lead tc">
      Le robot Poppy Humanoid intègre des fonctionnalités robotiques avancées au sein d'une plate-forme open-source modulaire et simple à utiliser.
    </p>
    <p class="tc">
      Basé sur des actionneurs de robotique perfectionnés ainsi que des pièces imprimées en 3D, il permet à tous (artistes, éducateurs, développeurs ou scientifiques) de l'utiliser et le personnaliser comme bon leur semble.
    </p>
  </div>
</div>

{% include separator.html %}

<div class="row">
  <div class="large-9 columns large-centered">
    <h2 class="tc">Fonctionnalités</h2>
    <p class="tc">
      Le robot est conçu pour être totalement personnalisé. Par conséquent, les spécifications suivantes servent de standards et peuvent être facilement modifiées ou mises à niveau pour répondre à des besoins spécifiques.
    </p>
  </div>
</div>

<div class="row">
  <div class="large-6 columns">
    <h3>Poppy Humanoid v1.0.2</h3>
    <ul>
      <li>Hauteur : 83cm ;</li>
      <li>Poids : 3,5kg ;</li>
      <li>Systèmes embarqués : Odroid XU4 avec Ubuntu 14.04 ;</li>
      <li>25 moteurs ;</li>
      <li>Caméra HD et à grande profondeur de champ.</li>
    </ul>

    <p class="small">Options</p>

    <ul>
      <li>IMU 9 DoF ;</li>
      <li>Écran 4,5 pouces.</li>
    </ul>
  </div>

  <div class="large-6 columns">
    <div class="hl-image">
      <img src="{{ site.baseurl }}/assets/img/humanoid-skating.jpg" alt="Poppy Humanoid sur un skateboard">
    </div>
  </div>
</div>

{% include separator.html %}

<div class="row">
  <div class="large-9 columns large-centered">
    <h2 class="tc">Obtenez votre robot Poppy Humanoid</h2>

    <p class="tc">
      Le kit Poppy Humanoid est distribué par Génération Robots.
    </p>

    <div class="tc order-cta">
      <a href="http://www.generationrobots.com/fr/312-poppy-humanoid-robot" class="large success button">Commandez votre Poppy Humanoid</a>
    </div>

    <p class="tc">
      Vous pouvez aussi réunir tous les composants nécessaires à sa construction en utilisant la <a href="{{ site.data.links.bom.humanoid }}">liste du matériel</a> la plus récente.
    </p>
  </div>
</div>
