---
lang: en
layout: default
permalink: /en/
role: index
title: "Pollen Robotics"
description: "A robotic journey"
published: true
---

<div >
  <div class="row">
    <header class="main-header tc small-centered medium-10 columns">
      <h1 class="poppy">
        We are pollen robotics
      </h1>
      <br />
      <img src="{{ site.baseurl }}/assets/img/covers/logo-unfold.png" alt="{{ site.title }}">
      <br />
<!--       <p class="lead">
      We are specialized in building modular robots.
      </p>
 --><h2 class="poppy">
  We make robotics a unique journey where <strong>stories emerge from curiosity</strong>.
</h2>
    </header>
  </div>
</div>

{% include separator.html %}

<div class="row large-9 columns small-centered tc">
  <h2 class="clish">
    Get everyone on board!
  </h2>
  <p class="lead">
      We believe robotics will fundamentally change the way we interact with everyday objects and how they interact with us. We want to put the people in the center of this revolution, where objects become alive, so they can <strong>unleash their creativity and shape a new robotic world</strong>.
  </p>
</div>

{% include separator.html %}

<div class="row large-9 columns small-centered tc">
  <h2 class="clish">
    We design robots for people
  </h2>
  <p class="lead">
    We are convinced the future of robotics will be driven by a genuine collaborations between people from various background and culture, each bringing their very own sensibility. We enable such collaborations by creating open technologies and communities in a unique way: <strong> developing elegant, innovative and simple products - enabling a unique user experience to unleash creativity</strong>.
  </p>
</div>

{% include index/team.html %}

{% include index/creatures.html %}
{% include separator.html %}


<div class="row">
  <div class="large-9 columns large-centered">
    <h2 class="tc">Contact</h2>
    <form action="https://formspree.io/{{ site.data.social.email }}" method="post" class="columns">
      <input type="text" name="_gotcha" class="nodisp">
      <input type="text" name="_format" value="plain" class="nodisp">

      <input type="hidden" name="_subject" value="New message from Poppy contact form">
      <input type="hidden" name="_next" value="{{ site.baseurl }}/{{ page.lang }}/contact/thank-you">

      <label>
        Name
        <input type="text" name="name">
      </label>
      <label>
        Email
        <input type="email" name="email">
      </label>
      <label>
        Your message
        <textarea name="message" rows="5"></textarea>
      </label>

      <button type="submit" class="button">Send a message</button>
    </form>
  </div>
</div>

{% include separator.html %}

{% include sponsors.html %}
