---
lang: en
layout: default
permalink: /en/
role: index
title: "Pollen Robotics"
description: "A robotic journey"
published: true
---

<div >
  <div class="row">
    <header class="main-header tc small-centered medium-9 columns">
      <h1 class="poppy">
        We are pollen robotics
      </h1>
      <br />
      <img src="{{ site.baseurl }}/assets/img/covers/logo-unfold.png" alt="{{ site.title }}">
      <br />
<!--       <p class="lead">
      We are specialized in building modular robots.
      </p>
 --><h2 class="poppy">
  We make robotics a unique journey where <strong>stories emerge from curiosity</strong>.
</h2>
    </header>
  </div>
</div>

{% include separator.html %}


<div class="row large-9 columns small-centered tc">
  <h2 class="clish">
    Why ? 
  </h2>
  <p class="lead">
    
  </p>
</div>

{% include separator.html %}

<div class="row large-9 columns small-centered tc">
  <h2 class="clish">
    How ? 
  </h2>
  <p class="lead">
    
  </p>
</div>

{% include separator.html %}

<div class="row large-9 columns small-centered tc">
  <h2 class="clish">
    What ? 
  </h2>
  <p class="lead">
    
  </p>
</div>

{% include separator.html %}

<div class="row large-9 columns small-centered tc">
  <h2 class="clish">
    Our team
  </h2>
  <p class="lead">
    
  </p>
</div>

{% include separator.html %}

{% include sponsors.html %}
