---
lang: fr
layout: default
permalink: /fr/
role: index
title: "plateforme open source pour la robotique"
description: "Poppy est une plateforme robotique open-source basée sur l’impression 3D"
cover_image: "/assets/img/covers/parts.jpg"
published: true
---

<div class="cover" {% if page.cover_image %}style="background-image: linear-gradient(to right, rgba(0,0,0,.35) 0%, rgba(0,0,0,.35) 100%), url({{ site.baseurl }}{{ page.cover_image }});"{% endif %}>
  <div class="row">
    <header class="main-header tc small-centered medium-9 columns">
      <h1>
        Poppy est une plateforme robotique open-source basée sur l’impression 3D
      </h1>

      <p class="lead">
        Le projet Poppy regroupe une communauté interdisciplinaire de débutants et d’experts, de scientifiques, éducateurs, dévelopeurs et artistes, partageant une même vision :
        <br>
        <strong>les robots sont de puissants outils pour apprendre et être créatif</strong>.
      </p>
    </header>
  </div>
</div>

<section class="audiences tc">
  <h2 class="clish">À qui s'adresse Poppy ?</h2>

  <div class="row" data-equalizer data-equalize-on="large">
    <div class="large-4 columns audience-tag education">
      <div data-equalizer-watch>
        <figure>
          <span>
            <svg class="icon">
              <title>Learning book</title>
              <use xlink:href="{{ site.baseurl }}/assets/img/symbol-defs.svg#icon-education"></use>
            </svg>
          </span>
        </figure>
        <h3>Éducation</h3>
        <p>Des activités clé en main pour enseigner l'informatique par le biais de la robotique. Programmation visuelle et simulation complètent l'objet tangible.</p>
      </div>
      <div class="cta">
        <a href="{{ site.baseurl }}/{{ page.lang }}/education">Découvrez Poppy pour l'éducation</a>
      </div>
    </div>
    <div class="large-4 columns audience-tag art">
      <div data-equalizer-watch>
        <figure>
          <span>
            <svg class="icon">
              <title>Puppet</title>
              <use xlink:href="{{ site.baseurl }}/assets/img/symbol-defs.svg#icon-puppet"></use>
            </svg>
          </span>
        </figure>
        <h3>Artistes</h3>
        <p>Animer vos idées, modifier les corps, incarner le mouvement, changer de perspectives !</p>
      </div>
      <div class="cta">
        <a href="{{ site.baseurl }}/{{ page.lang }}/for-artists">Découvrez Poppy pour les artistes</a>
      </div>
    </div>
    <div class="large-4 columns audience-tag science">
      <div data-equalizer-watch>
        <figure>
          <span>
            <svg class="icon">
              <title>Erlenmeyer</title>
              <use xlink:href="{{ site.baseurl }}/assets/img/symbol-defs.svg#icon-science"></use>
            </svg>
          </span>
        </figure>
        <h3>Scientifiques, hackers</h3>
        <p>Accessible, open-source, hackable. Des atouts majeurs pour l'expérimentation et le partage de connaissances et de savoir-faire.</p>
      </div>
      <div class="cta">
        <a href="{{ site.baseurl }}/{{ page.lang }}/for-science">Découvrez Poppy pour la science</a>
      </div>
    </div>
  </div>
</section>

<div class="row large-9 columns small-centered tc">
  <h2 class="clish">
    La communauté Poppy développe des robots faciles à construire, à personnaliser et à partager.
  </h2>
  <p class="lead">
    Elle encourage l'open-source en partageant les ressources matérielles,
    logicielles, ainsi que les outils web.
  </p>
</div>

{% include index/creatures.html %}

<div class="video-showcase">
  <div class="row">
    <div class="large-12 columns large-centered">
      <div class="flex-video ratio-16-9">
        <iframe width="1200" height="675" src="https://www.youtube.com/embed/P15V3UwmXnc?rel=0&amp;showinfo=0" allowfullscreen></iframe>
      </div>
      <div class="row columns description">
        <a href="{{ site.data.links.youtube_channel }}" class="youtube button">» Voir plus de vidéos</a>
      </div>
    </div>
  </div>
</div>

{% include latest-posts.html %}

{% include sponsors.html %}
