---
lang: fr
layout: default
permalink: /fr/
role: index
title: ""
description: ""
cover_image: "/assets/img/covers/parts-grid.jpg"
published: true
---

<div class="row expanded cover" {% if page.cover_image %}style="background-image: url({{ site.baseurl }}{{ page.cover_image }});"{% endif %}>
  <header class="main-header tc small-centered medium-9 columns">
    <h1>
      Poppy est une plate-forme robotique open-source basée sur l’impression 3D.
    </h1>

    <p class="lead">
      Nous sommes une communauté interdisciplinaire de débutants et d’experts, de scientifiques, éducateurs, dévelopeurs et artistes, partageant une même vision :
      <br>
      <strong>les robots sont de puissants outils pour apprendre et être créatif</strong>.
    </p>
  </header>
</div>

<section class="audiences tc">
  <h2>À qui s'adresse Poppy ?</h2>

  <div class="row columns" data-equalizer data-equalize-on="large">
    <div class="large-4 columns education">
      <a href="{{ site.baseurl }}/{{ page.lang }}/education" class="callout" data-equalizer-watch>
        <figure>
          <svg class="icon">
            <title>Learning book</title>
            <use xlink:href="{{ site.baseurl }}/assets/img/symbol-defs.svg#icon-education"></use>
          </svg>
        </figure>
        <h3>Éducation</h3>
        <p>--missing--</p>
      </a>
    </div>
    <div class="large-4 columns art">
      <a href="{{ site.baseurl }}/{{ page.lang }}/for-artists" class="callout" data-equalizer-watch>
        <figure>
          <svg class="icon">
            <title>Puppet</title>
            <use xlink:href="{{ site.baseurl }}/assets/img/symbol-defs.svg#icon-puppet"></use>
          </svg>
        </figure>
        <h3>Artistes</h3>
        <p>--missing--</p>
      </a>
    </div>
    <div class="large-4 columns science">
      <a href="{{ site.baseurl }}/{{ page.lang }}/for-science" class="callout" data-equalizer-watch>
        <figure>
          <svg class="icon">
            <title>Erlenmeyer</title>
            <use xlink:href="{{ site.baseurl }}/assets/img/symbol-defs.svg#icon-science"></use>
          </svg>
        </figure>
        <h3>Scientifiques, hackers</h3>
        <p>--missing--</p>
      </a>
    </div>
  </div>
</section>

<div class="row">
  <div class="large-9 columns small-centered tc">
    <p class="lead">
      La communauté Poppy développe des robots<br><strong>faciles à construire, à personnaliser et à partager</strong>.
    </p>
    <p class="lead">
      Nous encourageons l'open-source en partageant les ressources matérielles,
      logicielles, ainsi que les outils web.
    </p>
  </div>
</div>

<section class="creatures tc">
  <h2 class="small-centered">Poppy Creatures</h2>

  <div class="row columns" data-equalizer data-equalize-on="large">

    <a href="{{ site.baseurl }}/{{ page.lang }}/robots/poppy-humanoid" class="large-4 columns creature" data-equalizer-watch>
      <figure>
        <img width="188" height="188" src="{{ site.baseurl }}/assets/img/creatures/small/humanoid.jpg" data-interchange="[{{ site.baseurl }}/assets/img/creatures/large/humanoid.jpg, retina]" alt="A sitting Poppy Humanoid robot">
      </figure>
      <h3>Poppy Humanoid</h3>
      <p>
        --missing--
      </p>
    </a>

    <a href="{{ site.baseurl }}/{{ page.lang }}/robots/poppy-torso" class="large-4 columns creature" data-equalizer-watch>
      <figure>
        <img width="188" height="188" src="{{ site.baseurl }}/assets/img/creatures/small/torso.jpg" data-interchange="[{{ site.baseurl }}/assets/img/creatures/large/torso.jpg, retina]" alt="Facing Poppy Torso">
      </figure>
      <h3>Poppy Torso</h3>
      <p>
        --missing--
      </p>
    </a>

    <a href="{{ site.baseurl }}/{{ page.lang }}/robots/poppy-ergo-jr" class="large-4 columns creature" data-equalizer-watch>
      <figure>
        <img width="188" height="188" src="{{ site.baseurl }}/assets/img/creatures/small/ergo.jpg" data-interchange="[{{ site.baseurl }}/assets/img/creatures/large/ergo.jpg, retina]" alt="Ergo close-up">
      </figure>
      <h3>Poppy Ergo Jr</h3>
      <p>
        --missing--
      </p>
    </a>
  </div>
</section>

{% include sponsors.html %}
